In [2]:
import pandas as pd
import numpy as np

In [6]:
years = [2022, 2023]
new_russian_team = np.array([1083, 2006])
new_england_team = np.array([1359, 44, 62])

#Россия
all_dataRFPL = pd.DataFrame()
for year in years:
    rfpl_path = f'elo/csv/Russia/{year}/RFPL.csv'
    kubok_path = f'elo/csv/Russia/{year}/KUBOK.csv'

    data_RFPL = pd.read_csv(rfpl_path)
    data_kubok = pd.read_csv(kubok_path)
    if year == 2022:
        fnl_path = f'elo/csv/Russia/2022/FNL.csv'
        data_fnl = pd.read_csv(fnl_path)
        data_fnl = data_fnl[data_fnl['home_team_id'].isin(new_russian_team) | data_fnl['away_team_id'].isin(new_russian_team)]
        unique_teams_RFPL = np.concatenate((data_RFPL['home_team_id'].unique(), new_russian_team))
    else:
        unique_teams_RFPL = data_RFPL['home_team_id'].unique()
        data_fnl = pd.DataFrame()

    data_kubok = data_kubok[data_kubok['home_team_id'].isin(unique_teams_RFPL) & data_kubok['away_team_id'].isin(unique_teams_RFPL)]
    all_dataRFPL = pd.concat([all_dataRFPL, data_kubok, data_RFPL, data_fnl])

print(len(all_dataRFPL))

547

In [7]:
all_dataRFPL = all_dataRFPL.sort_values('timestamp')
all_dataRFPL.reset_index(drop=True, inplace=True)

In [5]:
#Англия
all_dataPL = pd.DataFrame()
for year in years:
    pl_path = f'elo/csv/England/{year}/PL.csv'
    kubok_path = f'elo/csv/England/{year}/cup.csv'
    carabao_path = f'elo/csv/England/{year}/carabao.csv'

    data_PL = pd.read_csv(pl_path)
    data_kubok = pd.read_csv(kubok_path)
    data_carabao = pd.read_csv(carabao_path)

    if year == 2022:
        championship_path = f'elo/csv/England/2022/championship.csv'
        data_championship = pd.read_csv(championship_path)
        data_championship = data_championship[data_championship['home_team_id'].isin(new_england_team) | data_championship['away_team_id'].isin(new_england_team)]
        unique_teams_PL = np.concatenate((data_PL['home_team_id'].unique(), new_england_team))
    else:
        unique_teams_PL = data_PL['home_team_id'].unique()
        data_championship = pd.DataFrame()

    data_kubok = data_kubok[data_kubok['home_team_id'].isin(unique_teams_PL) & data_kubok['away_team_id'].isin(unique_teams_PL)]
    data_carabao = data_carabao[data_carabao['home_team_id'].isin(unique_teams_PL) & data_carabao['away_team_id'].isin(unique_teams_PL)]
    all_dataPL = pd.concat([all_dataPL, data_kubok, data_PL, data_carabao, data_championship])

all_dataPL = all_dataPL.sort_values('timestamp')
all_dataPL.reset_index(drop=True, inplace=True)
all_dataPL

,fixtueID,timestamp,home_team_id,home_team_name,home_goals,away_goals,away_team_id,away_team_name
0,874671,1659121200,37,Huddersfield,0.0,1.0,44,Burnley
1,874676,1659189600,1359,Luton,0.0,0.0,54,Birmingham
2,874682,1659380400,38,Watford,1.0,0.0,62,Sheffield Utd
3,867946,1659726000,52,Crystal Palace,0.0,2.0,42,Arsenal
4,867947,1659785400,36,Fulham,2.0,2.0,40,Liverpool
...,...,...,...,...,...,...,...,...
632,1035110,1696696200,52,Crystal Palace,0.0,0.0,65,Nottingham Forest
633,1035108,1696770000,51,Brighton,2.0,2.0,40,Liverpool
634,1035115,1696770000,48,West Ham,2.0,2.0,34,Newcastle
635,1035116,1696770000,39,Wolves,1.0,1.0,66,Aston Villa
636,1035107,1696779000,42,Arsenal,1.0,0.0,50,Manchester City

In [8]:
all_data = pd.concat([all_dataPL, all_dataRFPL]).sort_values('timestamp')
all_data.reset_index(drop=True, inplace=True)

In [9]:
all_data

,fixtueID,timestamp,home_team_id,home_team_name,home_goals,away_goals,away_team_id,away_team_name
0,879867,1657904400,1994,Khimki,1.0,1.0,596,Zenit Saint Petersburg
1,879868,1657972800,555,CSKA Moscow,2.0,0.0,1084,Ural
2,879869,1657981800,1080,Orenburg,2.0,4.0,1079,Krylya Sovetov
3,879870,1657990800,1085,Akhmat Grozny,1.0,1.0,558,Spartak Moscow
4,881315,1658055600,6833,Veles,2.0,1.0,2006,Baltika
...,...,...,...,...,...,...,...,...
1179,1042126,1699720200,596,Zenit Saint Petersburg,1.0,1.0,621,Krasnodar
1180,1042132,1699786800,2011,Nizhny Novgorod,0.0,0.0,2006,Baltika
1181,1042129,1699795800,1088,Dinamo Moscow,2.0,0.0,1080,Orenburg
1182,1042131,1699804800,2012,PFC Sochi,0.0,2.0,1083,Rubin
1183,1042127,1699806600,558,Spartak Moscow,2.0,1.0,779,FC Rostov

In [143]:
import http.client
import json

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "55d8d0822bdb3026f52b479e85e3a447"
    }

last_time_download = 1696780800
result_data = []
for index, row in all_data.iterrows():
    fixtureID = row['fixtueID']
    timestamp = row['timestamp']
    home_team_id = row['home_team_id']
    home_goals = row['home_goals']
    away_team_id = row['away_team_id']
    away_goals = row['away_goals']
    
    for team_info, position in [((home_team_id, home_goals), 'home'), ((away_team_id, away_goals), 'away')]:
        conn.request("GET", f"/fixtures/statistics?fixture={fixtureID}&team={team_info[0]}", headers=headers)
        res = conn.getresponse()
        data = res.read()
        json_data = json.loads(data)

        if 'response' in json_data and json_data['response']:
            json_data = json_data['response']
            if json_data and len(json_data) > 0 and 'statistics' in json_data[0]:
                stat = json_data[0]['statistics']
            else:
                stat = []
        else:
            stat = []

        if len(stat) > 0:
            # Получение ударов в створ и XG
            shots_on_target = [item['value'] for item in stat if item['type'] == 'Shots on Goal']
            if shots_on_target and isinstance(shots_on_target[0], int):
                shots_on_target = shots_on_target[0]
            else:
                shots_on_target = team_info[1]

            xg = [item['value'] for item in stat if item['type'] == 'expected_goals']
            if xg and isinstance(xg[0], str):
                xg = xg[0]
            else:
                xg = team_info[1]

            result_data.append([fixtureID, team_info[0], position, team_info[1], shots_on_target, xg, timestamp])

result_df = pd.DataFrame(result_data, columns=['fixtureID', 'team_id', 'position', 'goals', 'shots', 'xg', 'time'])

print(result_df)

      fixtureID        time  team_id position  goals  shots    xg
0        879867  1657904400     1994     home    1.0    3.0   1.0
1        879867  1657904400      596     away    1.0    2.0   1.0
2        879868  1657972800      555     home    2.0    8.0   2.0
3        879868  1657972800     1084     away    0.0    2.0   0.0
4        879869  1657981800     1080     home    2.0    8.0   2.0
...         ...         ...      ...      ...    ...    ...   ...
2143    1035107  1696779000       50     away    0.0    1.0  0.48
2144    1042094  1696780800      558     home    2.0    4.0   2.0
2145    1042094  1696780800      555     away    2.0    5.0   2.0
2146    1042097  1696780800     1085     home    0.0    4.0   0.0
2147    1042097  1696780800     1083     away    1.0    6.0   1.0

[2148 rows x 7 columns]

In [144]:
result_df['xg'] = result_df['xg'].astype('float')
result_df.to_csv('match_data.csv',float_format='%.2f')