In [46]:
#получение обучающей, тестовой и тестовой выборки
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.regularizers import l2, l1
from tensorflow.keras.models import load_model
from keras import backend as K
import joblib

In [291]:
loaded_model_away_poly = joblib.load('model_poly_away_1.joblib')
loaded_model_home_poly = joblib.load('model_poly_home_1.joblib')

In [292]:
scaler_filename_home = "scaler_home.save"
scaler_filename_away = "scaler_away.save"
scaler_home = joblib.load(scaler_filename_home)
scaler_away = joblib.load(scaler_filename_away)

In [293]:
loaded_model_home_neuron = load_model('home_model_1.h5')
loaded_model_away_neuron = load_model('away_model_1.h5')

In [294]:
match_data = pd.read_csv('match_data.csv',index_col='id')

In [295]:
match_data['points'] = match_data.apply(lambda row: 3 if row['goals'] > match_data[(match_data['fixtureID'] == row['fixtureID']) & (match_data['team_id'] != row['team_id'])]['goals'].max() else (0 if row['goals'] < match_data[(match_data['fixtureID'] == row['fixtureID']) & (match_data['team_id'] != row['team_id'])]['goals'].max() else 1), axis=1)

In [296]:
def create_samples(data):
    x = []
    for _, row in data.iterrows():
        new_line = []
        team_data = match_data[(match_data['team_id'] == row['team_id']) & (match_data['time'] < row['time'])][-10::]
        home_data = team_data[team_data['position'] == 'home']
        away_data = team_data[team_data['position'] == 'away']
        points_last = match_data[(match_data['team_id'] == row['team_id']) & (match_data['time'] < row['time'])][-5::]['points'].sum()
        print(match_data[(match_data['team_id'] == row['team_id']) & (match_data['time'] < row['time'])][-5::])
        new_line.extend([row['team_id'], row['name'] ,row['time'], home_data['goals'].mean(), away_data['goals'].mean(), home_data['shots'].mean(), away_data['shots'].mean(), home_data['xg'].mean(), away_data['xg'].mean(), points_last])

        x.extend([new_line]) 
        #y.extend([[1, row['home_goals']], [2, row['away_goals']]])
    return x

In [235]:
import http.client
import json

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "55d8d0822bdb3026f52b479e85e3a447"
    }

conn.request("GET", f"/fixtures?next=8&league=235", headers=headers)
res = conn.getresponse()
data = res.read()
json_data = json.loads(data)
conn.request("GET", f"/fixtures?next=10&league=39", headers=headers)
res = conn.getresponse()
data = res.read()
json_data_2 = json.loads(data)
if 'response' in json_data and json_data['response']:
    json_data = json_data['response']

if 'response' in json_data_2 and json_data_2['response']:
    json_data_2 = json_data_2['response']

json_data = json_data + json_data_2

In [237]:
home_teams = []
away_teams = []
for fixture in json_data:
    home_teams.append([fixture['teams']['home']['id'], fixture['fixture']['timestamp'], fixture['teams']['home']['name']])
    away_teams.append([fixture['teams']['away']['id'], fixture['fixture']['timestamp'], fixture['teams']['away']['name']])
home_teams = pd.DataFrame(home_teams, columns=['team_id', 'time', 'name'])
away_teams = pd.DataFrame(away_teams, columns=['team_id', 'time', 'name'])
home_teams

    team_id        time                    name
0      1079  1700906400          Krylya Sovetov
1       596  1700914500  Zenit Saint Petersburg
2       555  1700922600             CSKA Moscow
3      2006  1700930700                 Baltika
4      1080  1700989200                Orenburg
5      1084  1700996400                    Ural
6      1083  1701005400                   Rubin
7       779  1701014400               FC Rostov
8        50  1700915400         Manchester City
9        44  1700924400                 Burnley
10     1359  1700924400                   Luton
11       34  1700924400               Newcastle
12       65  1700924400       Nottingham Forest
13       62  1700924400           Sheffield Utd
14       55  1700933400               Brentford
15       47  1701007200               Tottenham
16       45  1701016200                 Everton
17       36  1701115200                  Fulham

In [238]:
away_teams

    team_id        time               name
0       597  1700906400   Lokomotiv Moscow
1      2012  1700914500          PFC Sochi
2      1088  1700922600      Dinamo Moscow
3       558  1700930700     Spartak Moscow
4      1085  1700989200      Akhmat Grozny
5       621  1700996400          Krasnodar
6      1993  1701005400     Fakel Voronezh
7      2011  1701014400    Nizhny Novgorod
8        40  1700915400          Liverpool
9        48  1700924400           West Ham
10       52  1700924400     Crystal Palace
11       49  1700924400            Chelsea
12       51  1700924400           Brighton
13       35  1700924400        Bournemouth
14       42  1700933400            Arsenal
15       66  1701007200        Aston Villa
16       33  1701016200  Manchester United
17       39  1701115200             Wolves

In [297]:
#формирование x
x_home = create_samples(home_teams)
x_home = pd.DataFrame(x_home, columns=['team_id','name', 'time', 'mean_goals_home', 'mean_goals_away', 'shots_home', 'shots_away', 'xg_home', 'xg_away', 'points'])
x_away = create_samples(away_teams)
x_away = pd.DataFrame(x_away, columns=['team_id','name','time', 'mean_goals_home', 'mean_goals_away', 'shots_home', 'shots_away', 'xg_home', 'xg_away', 'points'])
x_home

      fixtureID  team_id position  goals  shots    xg        time  points
id
2169    1042102     1079     away    1.0    1.0  1.00  1697981400       0
2184    1042112     1079     home    1.0    5.0  1.00  1698499800       1
2213    1060685     1079     away    0.0    0.0  0.00  1698769800       0
2255    1042118     1079     away    1.0    2.0  0.87  1699182000       0
2272    1042128     1079     home    3.0    9.0  3.00  1699700400       3
      fixtureID  team_id position  goals  shots   xg        time  points
id
2168    1042102      596     home    3.0    6.0  3.0  1697981400       3
2192    1042110      596     home    2.0    3.0  2.0  1698508800       3
2212    1060685      596     home    1.0    1.0  1.0  1698769800       3
2251    1042123      596     away    2.0    4.0  2.0  1699113600       3
2286    1042126      596     home    1.0    4.0  1.0  1699720200       1
      fixtureID  team_id position  goals  shots   xg        time  points
id
2143    1042106      555     away    0.0    2.0  0.0  1697886000       1
2210    1042113      555     home    1.0    6.0  1.0  1698597000       3
2230    1060681      555     home    3.0    4.0  3.0  1698939000       3
2256    1042119      555     home    3.0    7.0  3.0  1699191000       3
2275    1042133      555     away    1.0    2.0  1.0  1699700400       1
      fixtureID  team_id position  goals  shots   xg        time  points
id
2158    1042107     2006     home    2.0    5.0  2.0  1697904000       1
2177    1042115     2006     away    0.0    2.0  0.0  1698422400       0
2214    1060686     2006     home    4.0    4.0  4.0  1698773400       3
2250    1042123     2006     home    0.0    1.0  0.0  1699113600       0
2291    1042132     2006     away    0.0    1.0  0.0  1699786800       1
      fixtureID  team_id position  goals  shots   xg        time  points
id
2140    1042109     1080     home    1.0    8.0  1.0  1697878800       0
2185    1042112     1080     away    1.0    5.0  1.0  1698499800       1
2231    1060681     1080     away    1.0    5.0  1.0  1698939000       0
2264    1042125     1080     home    1.0   10.0  1.0  1699268400       1
2293    1042129     1080     away    0.0    5.0  0.0  1699795800       0
      fixtureID  team_id position  goals  shots   xg        time  points
id
2164    1042108     1084     home    1.0    2.0  1.0  1697965200       0
2201    1042114     1084     away    1.0    5.0  1.0  1698586200       0
2233    1060683     1084     away    1.0    3.0  1.0  1698947100       0
2266    1042124     1084     home    0.0    7.0  0.0  1699277400       0
2273    1042128     1084     away    1.0    2.0  1.0  1699700400       0
      fixtureID  team_id position  goals  shots   xg        time  points
id
2142    1042106     1083     home    0.0    3.0  0.0  1697886000       1
2176    1042115     1083     home    1.0    4.0  1.0  1698422400       3
2217    1060684     1083     away    0.0    0.0  0.0  1698852600       0
2267    1042124     1083     away    1.0    2.0  1.0  1699277400       3
2303    1042131     1083     away    2.0    4.0  2.0  1699804800       3
      fixtureID  team_id position  goals  shots   xg        time  points
id
2172    1042104      779     home    3.0    4.0  3.0  1697990400       3
2186    1042111      779     home    1.0    5.0  1.0  1698499800       3
2232    1060683      779     home    2.0    7.0  2.0  1698947100       3
2265    1042125      779     away    1.0    7.0  1.0  1699268400       1
2307    1042127      779     away    1.0    6.0  1.0  1699806600       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2135    1035107       50     away    0.0    1.0  0.48  1696779000       0
2148    1035122       50     home    2.0    6.0  0.75  1697896800       3
2209    1035134       50     away    3.0   10.0  4.00  1698593400       3
2248    1035142       50     home    6.0    8.0  1.95  1699110000       3
2305    1035151       50     away    4.0   10.0  2.88  1699806600       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2155    1035119       44     away    0.0    1.0  1.14  1697896800       0
2191    1035127       44     away    1.0    3.0  0.83  1698501600       0
2225    1136343       44     away    0.0    1.0  0.00  1698867900       0
2246    1035138       44     home    0.0    5.0  1.12  1699110000       0
2281    1035148       44     away    1.0    5.0  0.32  1699714800       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2108    1035113     1359     home    0.0    2.0  0.76  1696678200       0
2153    1035124     1359     away    2.0    4.0  1.71  1697896800       1
2205    1035129     1359     away    1.0    1.0  0.48  1698588000       0
2262    1035141     1359     home    1.0    5.0  0.81  1699201800       1
2285    1035154     1359     away    0.0    4.0  0.41  1699714800       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2150    1035123       34     home    4.0    7.0  2.39  1697896800       3
2195    1035136       34     away    2.0    5.0  2.19  1698510600       1
2229    1136339       34     away    3.0    5.0  3.00  1698869700       3
2252    1035143       34     home    1.0    2.0  1.04  1699119000       3
2289    1035147       34     away    0.0    5.0  0.49  1699723800       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2123    1035110       65     away    0.0    5.0  1.05  1696696200       1
2152    1035124       65     home    2.0    8.0  2.97  1697896800       1
2207    1035133       65     away    0.0    1.0  0.45  1698588000       0
2258    1035144       65     home    2.0    3.0  0.38  1699192800       3
2297    1035155       65     away    2.0    5.0  1.69  1699797600       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2113    1035112       62     away    1.0    2.0  0.57  1696687200       0
2162    1035125       62     home    1.0    6.0  1.42  1697914800       0
2189    1035128       62     away    0.0    0.0  0.03  1698501600       0
2242    1035145       62     home    2.0    2.0  1.05  1699110000       3
2301    1035150       62     away    1.0    1.0  1.07  1699797600       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2119    1035114       55     away    1.0    3.0  0.95  1696687200       0
2154    1035119       55     home    3.0   10.0  3.24  1697896800       3
2183    1035131       55     away    2.0    5.0  2.16  1698492600       3
2244    1035137       55     home    3.0    4.0  1.63  1699110000       3
2299    1035153       55     away    0.0    3.0  1.68  1699797600       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2109    1035113       47     away    1.0    4.0  1.96  1696678200       3
2174    1035126       47     home    2.0    5.0  1.53  1698087600       3
2179    1035132       47     away    2.0    1.0  1.12  1698433200       3
2270    1035146       47     home    1.0    5.0  0.89  1699300800       0
2277    1035156       47     away    1.0    2.0  0.70  1699705800       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2145    1035121       45     away    0.0    1.0  0.13  1697887800       0
2199    1035135       45     away    1.0    4.0  0.82  1698584400       3
2224    1136343       45     home    3.0    5.0  3.00  1698867900       3
2240    1035139       45     home    1.0    4.0  0.71  1699110000       1
2283    1035152       45     away    3.0    4.0  1.53  1699714800       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2112    1035112       36     home    3.0    6.0  2.21  1696687200       3
2175    1035126       36     away    0.0    3.0  1.03  1698087600       0
2203    1035130       36     away    1.0    5.0  0.71  1698588000       1
2236    1035140       36     home    0.0    3.0  1.01  1699101000       0
2295    1035149       36     away    1.0    5.0  0.93  1699797600       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2146    1042105      597     home    0.0    8.0  0.00  1697895000       1
2187    1042111      597     away    0.0    6.0  0.00  1698499800       0
2216    1060684      597     home    3.0    3.0  3.00  1698852600       3
2260    1042120      597     home    1.0    5.0  1.87  1699201800       1
2278    1042130      597     home    2.0    5.0  2.00  1699709400       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2165    1042108     2012     away    4.0    8.0  4.00  1697965200       3
2197    1042116     2012     away    0.0    5.0  2.57  1698577200       0
2218    1060682     2012     home    2.0    5.0  2.00  1698852600       3
2268    1042122     2012     home    3.0   10.0  3.00  1699288200       1
2302    1042131     2012     home    0.0    4.0  0.00  1699804800       0
      fixtureID  team_id position  goals  shots   xg        time  points
id
2147    1042105     1088     away    0.0    4.0  0.0  1697895000       1
2200    1042114     1088     home    2.0    6.0  2.0  1698586200       3
2234    1060687     1088     home    2.0    2.0  2.0  1698947100       3
2269    1042122     1088     away    3.0    8.0  3.0  1699288200       1
2292    1042129     1088     home    2.0    6.0  2.0  1699795800       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2166    1042103      558     home    2.0   11.0  2.00  1697972400       3
2181    1042117      558     away    0.0    2.0  0.00  1698490800       0
2220    1060688      558     home    2.0    8.0  2.00  1698860700       0
2261    1042120      558     away    1.0    2.0  0.69  1699201800       1
2306    1042127      558     home    2.0    3.0  2.00  1699806600       3
      fixtureID  team_id position  goals  shots   xg        time  points
id
2173    1042104     1085     away    0.0    4.0  0.0  1697990400       0
2193    1042110     1085     away    1.0    3.0  1.0  1698508800       0
2215    1060686     1085     away    1.0    1.0  1.0  1698773400       0
2238    1042121     1085     home    1.0    6.0  1.0  1699104600       0
2279    1042130     1085     away    1.0    3.0  1.0  1699709400       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2159    1042107      621     away    2.0    7.0  2.00  1697904000       1
2211    1042113      621     away    0.0    7.0  0.00  1698597000       0
2221    1060688      621     away    3.0    6.0  3.00  1698860700       3
2254    1042118      621     home    2.0    7.0  2.26  1699182000       3
2287    1042126      621     away    1.0    5.0  1.00  1699720200       1
      fixtureID  team_id position  goals  shots   xg        time  points
id
2141    1042109     1993     away    2.0    7.0  2.0  1697878800       3
2180    1042117     1993     home    2.0    3.0  2.0  1698490800       3
2219    1060682     1993     away    0.0    5.0  0.0  1698852600       0
2239    1042121     1993     away    2.0    3.0  2.0  1699104600       3
2274    1042133     1993     home    1.0    6.0  1.0  1699700400       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2167    1042103     2011     away    0.0    1.0  0.00  1697972400       0
2196    1042116     2011     home    1.0    2.0  0.23  1698577200       3
2235    1060687     2011     away    1.0    1.0  1.00  1698947100       0
2257    1042119     2011     away    2.0    2.0  2.00  1699191000       0
2290    1042132     2011     home    0.0    1.0  0.00  1699786800       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2144    1035121       40     home    2.0    6.0  2.23  1697887800       3
2206    1035133       40     home    3.0    8.0  3.19  1698588000       3
2227    1136340       40     away    2.0    7.0  2.00  1698867900       3
2263    1035141       40     away    1.0    6.0  2.85  1699201800       1
2298    1035153       40     home    3.0   10.0  1.71  1699797600       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2171    1035118       48     away    1.0    4.0  1.16  1697988600       0
2198    1035135       48     home    0.0    2.0  0.66  1698584400       0
2222    1136342       48     home    3.0    3.0  3.00  1698867000       3
2245    1035137       48     away    2.0    2.0  1.82  1699110000       0
2296    1035155       48     home    3.0    6.0  1.80  1699797600       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2122    1035110       52     home    0.0    2.0  0.81  1696696200       1
2151    1035123       52     away    0.0    3.0  1.21  1697896800       0
2178    1035132       52     home    1.0    3.0  0.64  1698433200       0
2247    1035138       52     away    2.0    3.0  1.30  1699110000       3
2282    1035152       52     home    2.0    4.0  2.17  1699714800       0
      fixtureID  team_id position  goals  shots    xg        time  points
id
2117    1035109       49     away    4.0    5.0  1.86  1696687200       3
2160    1035120       49     home    2.0    5.0  1.35  1697905800       1
2182    1035131       49     home    0.0    2.0  2.03  1698492600       0
2271    1035146       49     away    4.0    8.0  4.12  1699300800       3
2304    1035151       49     home    4.0    9.0  2.95  1699806600       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2128    1035108       51     home    2.0    3.0  2.32  1696770000       1
2149    1035122       51     away    1.0    3.0  0.83  1697896800       0
2202    1035130       51     home    1.0    7.0  1.43  1698588000       1
2241    1035139       51     away    1.0    2.0  0.51  1699110000       1
2300    1035150       51     home    1.0    6.0  1.53  1699797600       1
      fixtureID  team_id position  goals  shots    xg        time  points
id
2156    1035117       35     home    1.0    4.0  0.63  1697896800       0
2190    1035127       35     home    2.0    6.0  1.11  1698501600       3
2226    1136340       35     home    1.0    6.0  1.00  1698867900       0
2249    1035142       35     away    1.0    1.0  0.91  1699110000       0
2288    1035147       35     home    2.0   10.0  2.46  1699723800       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2161    1035120       42     away    2.0    3.0  0.99  1697905800       1
2188    1035128       42     home    5.0    8.0  2.77  1698501600       3
2223    1136342       42     away    1.0    3.0  1.00  1698867000       0
2253    1035143       42     away    0.0    1.0  0.57  1699119000       0
2280    1035148       42     home    3.0    6.0  1.95  1699714800       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2131    1035116       66     away    1.0    4.0  1.61  1696770000       1
2170    1035118       66     home    4.0    7.0  1.94  1697988600       3
2204    1035129       66     home    3.0    6.0  2.28  1698588000       3
2259    1035144       66     away    0.0    3.0  1.23  1699192800       0
2294    1035149       66     home    3.0    6.0  3.08  1699797600       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2163    1035125       33     away    2.0    5.0  1.10  1697914800       3
2208    1035134       33     home    0.0    3.0  0.95  1698593400       0
2228    1136339       33     home    0.0    2.0  0.00  1698869700       0
2237    1035140       33     away    1.0    5.0  0.69  1699101000       3
2284    1035154       33     home    1.0    4.0  2.18  1699714800       3
      fixtureID  team_id position  goals  shots    xg        time  points
id
2130    1035116       39     home    1.0    3.0  1.68  1696770000       1
2157    1035117       39     away    2.0    7.0  2.35  1697896800       3
2194    1035136       39     home    2.0    6.0  0.89  1698510600       1
2243    1035145       39     away    1.0    3.0  1.33  1699110000       0
2276    1035156       39     home    2.0    4.0  2.15  1699705800       3

,team_id,name,time,mean_goals_home,mean_goals_away,shots_home,shots_away,xg_home,xg_away,points
0,1079,Krylya Sovetov,1700906400,2.500000,1.000000,6.250000,2.166667,2.500000,0.996667,4
1,596,Zenit Saint Petersburg,1700914500,1.666667,2.000000,3.833333,6.500000,1.666667,2.000000,13
2,555,CSKA Moscow,1700922600,1.833333,1.500000,4.500000,3.250000,1.896667,1.500000,11
3,2006,Baltika,1700930700,1.500000,0.250000,3.000000,1.750000,1.500000,0.250000,5
4,1080,Orenburg,1700989200,1.250000,0.833333,5.250000,4.000000,1.250000,0.833333,2
5,1084,Ural,1700996400,0.600000,1.000000,4.800000,3.000000,0.578000,1.000000,0
6,1083,Rubin,1701005400,0.400000,1.000000,2.600000,3.400000,0.400000,1.000000,10
7,779,FC Rostov,1701014400,2.200000,1.200000,5.200000,3.600000,2.200000,1.200000,10
8,50,Manchester City,1700915400,3.750000,1.833333,5.750000,7.666667,1.572500,1.976667,10
9,44,Burnley,1700924400,0.333333,0.714286,4.000000,2.714286,0.990000,0.657143,0
10,1359,Luton,1700924400,0.800000,1.000000,3.000000,2.600000,1.310000,0.918000,2
11,34,Newcastle,1700924400,1.800000,3.000000,4.600000,6.600000,1.812000,2.322000,10
12,65,Nottingham Forest,1700924400,1.200000,0.600000,3.200000,3.400000,0.904000,0.996000,5
13,62,Sheffield Utd,1700924400,1.200000,0.600000,3.800000,2.000000,1.054000,0.680000,4
14,55,Brentford,1700933400,1.800000,0.800000,5.400000,3.600000,1.762000,1.390000,9
15,47,Tottenham,1701007200,1.750000,2.000000,7.000000,4.333333,1.692500,1.420000,9
16,45,Everton,1701016200,1.600000,1.800000,4.600000,3.800000,1.888000,1.276000,10
17,36,Fulham,1701115200,1.000000,0.600000,3.400000,4.400000,1.254000,0.942000,4

In [298]:
x_away

,team_id,name,time,mean_goals_home,mean_goals_away,shots_home,shots_away,xg_home,xg_away,points
0,597,Lokomotiv Moscow,1700906400,1.666667,1.000000,4.166667,5.250000,1.811667,1.080000,8
1,2012,PFC Sochi,1700914500,1.250000,1.000000,6.000000,3.166667,1.250000,1.428333,7
2,1088,Dinamo Moscow,1700922600,1.800000,1.000000,6.400000,6.800000,1.800000,1.000000,11
3,558,Spartak Moscow,1700930700,1.800000,0.800000,6.600000,2.400000,1.800000,0.738000,7
4,1085,Akhmat Grozny,1700989200,1.200000,0.600000,5.000000,3.000000,1.200000,0.600000,0
5,621,Krasnodar,1700996400,2.200000,1.600000,5.800000,5.800000,2.252000,1.600000,8
6,1993,Fakel Voronezh,1701005400,1.250000,0.666667,4.000000,3.666667,1.250000,0.666667,10
7,2011,Nizhny Novgorod,1701014400,1.200000,0.600000,3.800000,1.400000,1.046000,0.600000,4
8,40,Liverpool,1700915400,2.800000,1.800000,7.000000,5.400000,2.526000,2.206000,13
9,48,West Ham,1700924400,1.833333,1.500000,4.333333,3.250000,1.616667,1.277500,6
10,52,Crystal Palace,1700924400,1.200000,0.800000,4.600000,2.600000,1.206000,0.916000,4
11,49,Chelsea,1700924400,1.166667,2.500000,4.333333,5.750000,1.826667,2.382500,8
12,51,Brighton,1700924400,2.000000,1.200000,5.200000,3.600000,1.686000,0.950000,4
13,35,Bournemouth,1700924400,1.000000,1.000000,5.166667,3.500000,1.148333,1.207500,6
14,42,Arsenal,1700933400,2.750000,1.500000,5.500000,3.666667,1.785000,1.335000,7
15,66,Aston Villa,1701007200,3.333333,0.500000,6.000000,4.250000,2.181667,1.142500,10
16,33,Manchester United,1701016200,1.000000,1.333333,4.571429,4.666667,1.402857,0.920000,9
17,39,Wolves,1701115200,1.600000,1.400000,3.200000,3.800000,1.164000,1.306000,8

In [299]:
elo_england_22 = pd.read_csv('./elo/csv/England/2022/ratingElo2022_2023PL.csv')
elo_england_23 = pd.read_csv('./elo/csv/England/2023/ratingElo2023_2024PL.csv')

elo_england_22.set_index('id', inplace=True)
elo_england_23.set_index('id', inplace=True)

elo_england_23['prev_elos'] = elo_england_23.apply(lambda row: elo_england_22.loc[row.name]['prev_elos'] + row['prev_elos'] if row.name in elo_england_22.index else row['prev_elos'], axis=1)
elo_england_23.reset_index(inplace=True)

elo_russian_22 = pd.read_csv('./elo/csv/Russia/2022/ratingElo2022_2023RFPL.csv')
elo_russian_23 = pd.read_csv('./elo/csv/Russia/2023/ratingElo2023_2024RFPL.csv')

elo_russian_22.set_index('id', inplace=True)
elo_russian_23.set_index('id', inplace=True)

elo_russian_23['prev_elos'] = elo_russian_23.apply(lambda row: elo_russian_22.loc[row.name]['prev_elos'] + row['prev_elos'] if row.name in elo_russian_22.index else row['prev_elos'], axis=1)
elo_russian_23.reset_index(inplace=True)
all_elo = pd.concat([elo_england_23, elo_russian_23])
all_elo.reset_index(inplace=True)

In [242]:
import re, json
def process_row(row):
    return int(all_elo[all_elo['id'] == row['team_id']]['elo_rating'])
def add_column_elo(frame):
    frame['elo'] = frame.apply(process_row, axis=1)

In [300]:
samples = [x_home, x_away]
for item in samples:
    add_column_elo(item)

C:\Users\arbol\AppData\Local\Temp\ipykernel_18136\1540769638.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  return int(all_elo[all_elo['id'] == row['team_id']]['elo_rating'])
C:\Users\arbol\AppData\Local\Temp\ipykernel_18136\1540769638.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  return int(all_elo[all_elo['id'] == row['team_id']]['elo_rating'])

In [301]:
x_home['diff_elo'] = x_home['elo'] - x_away['elo']
x_away['diff_elo'] = x_away['elo'] - x_home['elo']

In [302]:
x_home

,team_id,name,time,mean_goals_home,mean_goals_away,shots_home,shots_away,xg_home,xg_away,points,elo,diff_elo
0,1079,Krylya Sovetov,1700906400,2.500000,1.000000,6.250000,2.166667,2.500000,0.996667,4,1584,-128
1,596,Zenit Saint Petersburg,1700914500,1.666667,2.000000,3.833333,6.500000,1.666667,2.000000,13,1826,334
2,555,CSKA Moscow,1700922600,1.833333,1.500000,4.500000,3.250000,1.896667,1.500000,11,1746,59
3,2006,Baltika,1700930700,1.500000,0.250000,3.000000,1.750000,1.500000,0.250000,5,1568,-79
4,1080,Orenburg,1700989200,1.250000,0.833333,5.250000,4.000000,1.250000,0.833333,2,1568,34
5,1084,Ural,1700996400,0.600000,1.000000,4.800000,3.000000,0.578000,1.000000,0,1498,-294
6,1083,Rubin,1701005400,0.400000,1.000000,2.600000,3.400000,0.400000,1.000000,10,1606,14
7,779,FC Rostov,1701014400,2.200000,1.200000,5.200000,3.600000,2.200000,1.200000,10,1608,84
8,50,Manchester City,1700915400,3.750000,1.833333,5.750000,7.666667,1.572500,1.976667,10,2162,89
9,44,Burnley,1700924400,0.333333,0.714286,4.000000,2.714286,0.990000,0.657143,0,1700,-172
10,1359,Luton,1700924400,0.800000,1.000000,3.000000,2.600000,1.310000,0.918000,2,1713,-118
11,34,Newcastle,1700924400,1.800000,3.000000,4.600000,6.600000,1.812000,2.322000,10,2013,88
12,65,Nottingham Forest,1700924400,1.200000,0.600000,3.200000,3.400000,0.904000,0.996000,5,1799,-131
13,62,Sheffield Utd,1700924400,1.200000,0.600000,3.800000,2.000000,1.054000,0.680000,4,1709,-14
14,55,Brentford,1700933400,1.800000,0.800000,5.400000,3.600000,1.762000,1.390000,9,1928,-104
15,47,Tottenham,1701007200,1.750000,2.000000,7.000000,4.333333,1.692500,1.420000,9,1953,-6
16,45,Everton,1701016200,1.600000,1.800000,4.600000,3.800000,1.888000,1.276000,10,1852,-101
17,36,Fulham,1701115200,1.000000,0.600000,3.400000,4.400000,1.254000,0.942000,4,1830,22

In [303]:
x_home_predict = x_home.drop(['time', 'elo', 'name'], axis=1)
x_away_predict = x_away.drop(['time', 'elo', 'name'], axis=1)

In [304]:
x_home_predict = scaler_home.transform(x_home_predict)
x_away_predict = scaler_away.transform(x_away_predict)

In [305]:
poly_home_value = loaded_model_home_poly.predict(x_home_predict)
poly_away_value = loaded_model_away_poly.predict(x_away_predict)

In [309]:
print("Полином:")
for index, row in x_home.iterrows():
    print(f"{row['name']} - {x_away.iloc[index]['name']}: {round(poly_home_value[index], 3)}:{round(poly_away_value[index], 3)}")

Полином:
Krylya Sovetov - Lokomotiv Moscow: 1.011:1.416
Zenit Saint Petersburg - PFC Sochi: 1.564:0.809
CSKA Moscow - Dinamo Moscow: 1.285:1.113
Baltika - Spartak Moscow: 1.081:1.408
Orenburg - Akhmat Grozny: 1.028:1.007
Ural - Krasnodar: 0.771:1.715
Rubin - Fakel Voronezh: 0.854:1.063
FC Rostov - Nizhny Novgorod: 1.321:0.985
Manchester City - Liverpool: 1.434:1.445
Burnley - West Ham: 0.96:1.507
Luton - Crystal Palace: 0.885:1.358
Newcastle - Chelsea: 1.651:1.552
Nottingham Forest - Brighton: 1.01:1.423
Sheffield Utd - Bournemouth: 1.136:1.247
Brentford - Arsenal: 1.19:1.435
Tottenham - Aston Villa: 1.17:1.451
Everton - Manchester United: 1.125:1.329
Fulham - Wolves: 1.211:1.182

In [307]:
nueron_home_value = loaded_model_home_neuron.predict(x_home_predict)
neuron_away_value = loaded_model_away_neuron.predict(x_away_predict)

1/1 [==============================] - 0s 186ms/step
1/1 [==============================] - 0s 143ms/step

In [308]:
print("Нейронная сеть:")
for index, row in x_home.iterrows():
    home_goals = round(float(nueron_home_value[index][0]),3)
    away_goals = round(float(neuron_away_value[index][0]), 3)
    print(f"{row['name']} - {x_away.iloc[index]['name']}: {home_goals}:{away_goals}")

Нейронная сеть:
Krylya Sovetov - Lokomotiv Moscow: 1.261:1.405
Zenit Saint Petersburg - PFC Sochi: 2.138:1.049
CSKA Moscow - Dinamo Moscow: 1.541:1.311
Baltika - Spartak Moscow: 1.023:1.389
Orenburg - Akhmat Grozny: 1.55:1.235
Ural - Krasnodar: 1.079:1.622
Rubin - Fakel Voronezh: 1.348:1.138
FC Rostov - Nizhny Novgorod: 1.592:1.086
Manchester City - Liverpool: 2.039:1.503
Burnley - West Ham: 1.162:1.472
Luton - Crystal Palace: 1.147:1.368
Newcastle - Chelsea: 1.938:1.397
Nottingham Forest - Brighton: 1.245:1.468
Sheffield Utd - Bournemouth: 1.283:1.324
Brentford - Arsenal: 1.424:1.505
Tottenham - Aston Villa: 1.678:1.463
Everton - Manchester United: 1.38:1.365
Fulham - Wolves: 1.514:1.297

In [271]:
loaded_model_away_neuron