In [1]:
import pandas as pd

In [2]:
file_path = 'output.csv'
df = pd.read_csv(file_path)

In [3]:
df['league'] = 235

In [4]:
df

,fixtueID,timestamp,home_team_id,home_team_name,home_goals,away_goals,away_team_id,away_team_name,result,league
0,711296,1627059600,779,FC Rostov,0,2,1088,Dinamo Moscow,Away,235
1,711297,1627228800,1079,Krylya Sovetov,1,2,1085,Akhmat Grozny,Away,235
2,711298,1627232400,555,CSKA Moscow,1,0,1078,FC UFA,Home,235
3,711299,1627146000,597,Lokomotiv Moscow,3,1,1077,Arsenal Tula,Home,235
4,711300,1627146000,1083,Rubin,1,0,558,Spartak Moscow,Home,235
...,...,...,...,...,...,...,...,...,...,...
239,711535,1653141600,1994,Khimki,2,1,558,Spartak Moscow,Home,235
240,862967,1653471000,1087,Ska-khabarovsk,1,0,1994,Khimki,Home,235
241,862968,1653735600,1994,Khimki,3,0,1087,Ska-khabarovsk,Home,235
242,862969,1653489000,1080,Orenburg,2,2,1078,FC UFA,Draw,235
243,862970,1653742800,1078,FC UFA,1,2,1080,Orenburg,Away,235

In [5]:
df_fnl = pd.read_csv('outputFNL.csv')
df_fnl['league'] = 236

In [6]:
all_df = pd.concat([df, df_fnl], ignore_index=True)

In [7]:
team_info = pd.DataFrame(index=all_df['home_team_id'].unique())
team_info['team_name'] = all_df.groupby('home_team_id')['home_team_name'].first()
team_info['league'] = all_df.groupby('home_team_id')['league'].first()
team_info

                   team_name  league
779                FC Rostov     235
1079          Krylya Sovetov     235
555              CSKA Moscow     235
597         Lokomotiv Moscow     235
1083                   Rubin     235
2011         Nizhny Novgorod     235
1084                    Ural     235
1994                  Khimki     235
621                Krasnodar     235
1085           Akhmat Grozny     235
1077            Arsenal Tula     235
1078                  FC UFA     235
596   Zenit Saint Petersburg     235
558           Spartak Moscow     235
1088           Dinamo Moscow     235
2012               PFC Sochi     235
1087          Ska-khabarovsk     235
1080                Orenburg     235
6831                 Urozhay     236
2003        Spartak Moscow 2     236
6815       Metallurg Lipetsk     236
1993          Fakel Voronezh     236
6786                   Akron     236
2001          FK Neftekhimik     236
2010         Rotor Volgograd     236
6801                   KAMAZ     236
6833                   Veles     236
1089                  Enisey     236
1081               Tom Tomsk     236
2015             Krasnodar 2     236
3985          Torpedo Moskva     236
6797             Dolgoprudny     236
2004        Volgar Astrakhan     236
2006                 Baltika     236
6787     Alaniya Vladikavkaz     236
3984           Tekstilshchik     236

In [8]:
df_kubok = pd.read_csv('outputKUBOK.csv')
df_kubok = df_kubok[df_kubok['home_team_id'].isin(team_info.index.to_list()) & df_kubok['away_team_id'].isin(team_info.index.to_list())]
df_kubok['league'] = 237

In [9]:
# Объединение всех данных в один DataFrame
all_df = pd.concat([all_df, df_kubok], ignore_index=True)
all_df['home_goals'].fillna(1, inplace=True)
all_df['away_goals'].fillna(1, inplace=True)

In [10]:
all_df

,fixtueID,timestamp,home_team_id,home_team_name,home_goals,away_goals,away_team_id,away_team_name,result,league
0,711296,1627059600,779,FC Rostov,0.0,2.0,1088,Dinamo Moscow,Away,235
1,711297,1627228800,1079,Krylya Sovetov,1.0,2.0,1085,Akhmat Grozny,Away,235
2,711298,1627232400,555,CSKA Moscow,1.0,0.0,1078,FC UFA,Home,235
3,711299,1627146000,597,Lokomotiv Moscow,3.0,1.0,1077,Arsenal Tula,Home,235
4,711300,1627146000,1083,Rubin,1.0,0.0,558,Spartak Moscow,Home,235
...,...,...,...,...,...,...,...,...,...,...
653,856003,1650463200,6787,Alaniya Vladikavkaz,2.0,2.0,596,Zenit Saint Petersburg,Home,237
654,856004,1650472200,555,CSKA Moscow,0.0,1.0,558,Spartak Moscow,Away,237
655,858980,1652189400,1088,Dinamo Moscow,3.0,0.0,6787,Alaniya Vladikavkaz,Home,237
656,858981,1652286600,558,Spartak Moscow,3.0,0.0,1089,Enisey,Home,237
657,861765,1653832800,558,Spartak Moscow,2.0,1.0,1088,Dinamo Moscow,Home,237

In [11]:
# Сортировка данных по времени
all_df.sort_values('timestamp', inplace=True)
all_df.reset_index(drop=True, inplace=True)
all_df

,fixtueID,timestamp,home_team_id,home_team_name,home_goals,away_goals,away_team_id,away_team_name,result,league
0,711541,1625922000,6786,Akron,1.0,2.0,1087,Ska-khabarovsk,Away,236
1,711544,1625925600,6801,KAMAZ,1.0,1.0,6787,Alaniya Vladikavkaz,Draw,236
2,711540,1625925600,1080,Orenburg,4.0,0.0,2004,Volgar Astrakhan,Home,236
3,711536,1625927400,6831,Urozhay,1.0,2.0,3985,Torpedo Moskva,Away,236
4,711542,1625929200,2001,FK Neftekhimik,1.0,0.0,6797,Dolgoprudny,Home,236
...,...,...,...,...,...,...,...,...,...,...
653,862967,1653471000,1087,Ska-khabarovsk,1.0,0.0,1994,Khimki,Home,235
654,862969,1653489000,1080,Orenburg,2.0,2.0,1078,FC UFA,Draw,235
655,862968,1653735600,1994,Khimki,3.0,0.0,1087,Ska-khabarovsk,Home,235
656,862970,1653742800,1078,FC UFA,1.0,2.0,1080,Orenburg,Away,235
657,861765,1653832800,558,Spartak Moscow,2.0,1.0,1088,Dinamo Moscow,Home,237

In [12]:
league_info = pd.DataFrame(index=all_df['league'].unique())
league_info.loc[235, 'init_rating'] = 1600
league_info.loc[236, 'init_rating'] = 1300
league_info.loc[237, 'init_rating'] = 1350
league_info

     init_rating
236       1300.0
235       1600.0
237       1350.0

In [13]:
team_info['elo_rating'] = team_info['league'].map(league_info['init_rating'])
team_info['games'] = 0
team_info

                   team_name  league  elo_rating  games
779                FC Rostov     235      1600.0      0
1079          Krylya Sovetov     235      1600.0      0
555              CSKA Moscow     235      1600.0      0
597         Lokomotiv Moscow     235      1600.0      0
1083                   Rubin     235      1600.0      0
2011         Nizhny Novgorod     235      1600.0      0
1084                    Ural     235      1600.0      0
1994                  Khimki     235      1600.0      0
621                Krasnodar     235      1600.0      0
1085           Akhmat Grozny     235      1600.0      0
1077            Arsenal Tula     235      1600.0      0
1078                  FC UFA     235      1600.0      0
596   Zenit Saint Petersburg     235      1600.0      0
558           Spartak Moscow     235      1600.0      0
1088           Dinamo Moscow     235      1600.0      0
2012               PFC Sochi     235      1600.0      0
1087          Ska-khabarovsk     235      1600.0      0
1080                Orenburg     235      1600.0      0
6831                 Urozhay     236      1300.0      0
2003        Spartak Moscow 2     236      1300.0      0
6815       Metallurg Lipetsk     236      1300.0      0
1993          Fakel Voronezh     236      1300.0      0
6786                   Akron     236      1300.0      0
2001          FK Neftekhimik     236      1300.0      0
2010         Rotor Volgograd     236      1300.0      0
6801                   KAMAZ     236      1300.0      0
6833                   Veles     236      1300.0      0
1089                  Enisey     236      1300.0      0
1081               Tom Tomsk     236      1300.0      0
2015             Krasnodar 2     236      1300.0      0
3985          Torpedo Moskva     236      1300.0      0
6797             Dolgoprudny     236      1300.0      0
2004        Volgar Astrakhan     236      1300.0      0
2006                 Baltika     236      1300.0      0
6787     Alaniya Vladikavkaz     236      1300.0      0
3984           Tekstilshchik     236      1300.0      0

In [14]:
def get_gap_koef(games, elo_rating):
    if games < 30 or elo_rating < 1900:
        return 40
    elif elo_rating > 2200:
        return 10
    return 20

# Определение функции 'Elo_rating' для расчета изменений рейтинга команд
def Elo_rating(row):
    #k = league_info.loc[row.league].league_koef #коэфициент лиги
    G = 1 # коэфициент голов
    real_home_result = real_away_result = 0.5
    home_team_rating = team_info.loc[row.home_team_id].elo_rating + 100
    away_team_rating = team_info.loc[row.away_team_id].elo_rating
    
    home_gap_koef = get_gap_koef(team_info.loc[row.home_team_id].games, team_info.loc[row.home_team_id].elo_rating)
    away_gap_koef = get_gap_koef(team_info.loc[row.away_team_id].games, team_info.loc[row.away_team_id].elo_rating)
     
    if abs(row.home_goals - row.away_goals) == 2:
        G = 1.5
    elif abs(row.home_goals - row.away_goals) > 2:
        G = (11 + abs(row.home_goals - row.away_goals)) / 8
    
    #Ожидаемый результат
    expected_home_result = 1 / (10 **-((home_team_rating - away_team_rating) / 400) + 1) 
    expected_away_result = 1 / (10 **-((away_team_rating - home_team_rating) / 400) + 1) 
    
    #Результат матча
    if (row.home_goals > row.away_goals):
        real_home_result = 1
        real_away_result = 0
    elif (row.home_goals < row.away_goals):
        real_home_result = 0
        real_away_result = 1
    
    change_home_rating = home_gap_koef  * G * (real_home_result - expected_home_result)
    change_away_rating = away_gap_koef  * G * (real_away_result - expected_away_result)
    return change_home_rating, change_away_rating

In [15]:
#расчет рейтинга
for _, row in all_df.iterrows():
    change_home, change_away = Elo_rating(row)
    team_info.loc[team_info.index == row.home_team_id, 'elo_rating'] += change_home
    team_info.loc[team_info.index == row.home_team_id, 'games'] += 1
        
    team_info.loc[team_info.index == row.away_team_id, 'elo_rating'] += change_away
    team_info.loc[team_info.index == row.away_team_id, 'games'] += 1

In [16]:
team_info.sort_values('elo_rating', ascending=False, inplace=True)

In [17]:
team_info

                   team_name  league   elo_rating  games
596   Zenit Saint Petersburg     235  1791.343805     32
2012               PFC Sochi     235  1732.686604     31
558           Spartak Moscow     235  1656.307425     35
621                Krasnodar     235  1632.852239     31
555              CSKA Moscow     235  1621.489922     34
1088           Dinamo Moscow     235  1600.820169     36
1085           Akhmat Grozny     235  1598.818300     31
597         Lokomotiv Moscow     235  1584.337666     31
1079          Krylya Sovetov     235  1574.594375     31
1994                  Khimki     235  1570.155137     33
779                FC Rostov     235  1565.337912     31
1084                    Ural     235  1561.699850     31
2011         Nizhny Novgorod     235  1540.673750     32
3985          Torpedo Moskva     236  1531.066074     40
1078                  FC UFA     235  1500.405016     33
1080                Orenburg     235  1483.952458     41
1993          Fakel Voronezh     236  1469.769993     40
1089                  Enisey     236  1456.970389     43
2006                 Baltika     236  1445.776402     40
6786                   Akron     236  1428.388020     39
6831                 Urozhay     236  1422.042633     41
1087          Ska-khabarovsk     235  1421.700649     41
1077            Arsenal Tula     235  1398.298188     32
1083                   Rubin     235  1397.376162     32
2003        Spartak Moscow 2     236  1376.601822     38
2015             Krasnodar 2     236  1370.589687     38
2001          FK Neftekhimik     236  1363.071201     39
6787     Alaniya Vladikavkaz     236  1347.761555     43
1081               Tom Tomsk     236  1306.111836     39
2004        Volgar Astrakhan     236  1269.828371     39
6833                   Veles     236  1266.171510     40
6797             Dolgoprudny     236  1222.994843     39
2010         Rotor Volgograd     236  1219.327697     40
6815       Metallurg Lipetsk     236  1209.077373     40
6801                   KAMAZ     236  1194.943868     41
3984           Tekstilshchik     236  1066.657095     39

In [ ]:
team_info.to_csv('ratingElo2021_2022RFPL.csv')