In [1]:
from elo_calculator import calculate_team_elo

In [2]:
elo_ratings_RUS_21 = calculate_team_elo(['csv/Russia/2021/output.csv', 'csv/Russia/2021/outputFNL.csv'], [(235, 1600), (236, 1300)], [('csv/Russia/2021/outputKUBOK.csv', (237, 1350))])

In [3]:
elo_ratings_RUS_21

                   team_name  league  elo_rating  games
596   Zenit Saint Petersburg     235     1791.35     32
2012               PFC Sochi     235     1732.67     31
558           Spartak Moscow     235     1656.30     35
621                Krasnodar     235     1632.87     31
555              CSKA Moscow     235     1621.49     34
1088           Dinamo Moscow     235     1600.82     36
1085           Akhmat Grozny     235     1598.82     31
597         Lokomotiv Moscow     235     1584.34     31
1079          Krylya Sovetov     235     1574.59     31
1994                  Khimki     235     1570.16     33
779                FC Rostov     235     1565.33     31
1084                    Ural     235     1561.70     31
2011         Nizhny Novgorod     235     1540.67     32
3985          Torpedo Moskva     236     1531.07     40
1078                  FC UFA     235     1500.41     33
1080                Orenburg     235     1483.95     41
1993          Fakel Voronezh     236     1469.78     40
1089                  Enisey     236     1456.98     43
2006                 Baltika     236     1445.78     40
6786                   Akron     236     1428.39     39
6831                 Urozhay     236     1422.05     41
1087          Ska-khabarovsk     235     1421.69     41
1077            Arsenal Tula     235     1398.31     32
1083                   Rubin     235     1397.38     32
2003        Spartak Moscow 2     236     1376.60     38
2015             Krasnodar 2     236     1370.60     38
2001          FK Neftekhimik     236     1363.06     39
6787     Alaniya Vladikavkaz     236     1347.74     43
1081               Tom Tomsk     236     1306.11     39
2004        Volgar Astrakhan     236     1269.82     39
6833                   Veles     236     1266.17     40
6797             Dolgoprudny     236     1222.99     39
2010         Rotor Volgograd     236     1219.32     40
6815       Metallurg Lipetsk     236     1209.08     40
6801                   KAMAZ     236     1194.95     41
3984           Tekstilshchik     236     1066.66     39

In [5]:
elo_ratings_RUS_21.to_csv('csv/Russia/2021/ratingElo2021_2022RFPL.csv', float_format='%.2f')

In [6]:
elo_rating_RUS_22 = calculate_team_elo(file_paths = ['csv/Russia/2022/RFPL.csv', 'csv/Russia/2022/FNL.csv'], league_ratings = [(235, 1600), (236, 1300)], kubok = [('csv/Russia/2022/KUBOK.csv', (237, 1350))], save_elo = True, previus_data = 'csv/Russia/2021/ratingElo2021_2022RFPL.csv')

In [7]:
elo_rating_RUS_22

,team_name,league,elo_rating,games,prev_elos
596,Zenit Saint Petersburg,235,1831.41,70,"{1657904400: 1791.35, 1658509200: 1784.6399999..."
555,CSKA Moscow,235,1784.20,77,"{1657972800: 1621.49, 1658577600: 1638.59, 165..."
597,Lokomotiv Moscow,235,1721.26,70,"{1658068200: 1584.34, 1658682000: 1576.51, 165..."
621,Krasnodar,235,1708.12,75,"{1658077200: 1632.87, 1658595600: 1620.08, 165..."
558,Spartak Moscow,235,1661.97,76,"{1657990800: 1656.3, 1658595600: 1658.74, 1659..."
1085,Akhmat Grozny,235,1656.20,69,"{1657990800: 1598.82, 1658682000: 1596.3799999..."
1080,Orenburg,235,1655.26,77,"{1657981800: 1483.95, 1658586600: 1453.14, 165..."
779,FC Rostov,235,1618.39,71,"{1658077200: 1565.33, 1658682000: 1572.76, 165..."
1084,Ural,235,1595.18,74,"{1657972800: 1561.7, 1658586600: 1544.60000000..."
1083,Rubin,236,1589.01,67,"{1658070000: 1397.38, 1658656800: 1435.99, 165..."
1079,Krylya Sovetov,235,1573.14,72,"{1657981800: 1574.59, 1658509200: 1605.3999999..."
1993,Fakel Voronezh,235,1549.03,78,"{1658077200: 1469.78, 1658682000: 1482.57, 165..."
2006,Baltika,236,1546.40,74,"{1658055600: 1445.78, 1658678400: 1421.28, 165..."
1088,Dinamo Moscow,235,1528.76,76,"{1658077200: 1600.82, 1658673000: 1593.3899999..."
6787,Alaniya Vladikavkaz,236,1513.25,78,"{1658163600: 1347.74, 1658667600: 1339.71, 165..."
6822,Rodina Moskva,235,1499.36,36,"{1658070000: 1600.0, 1658667600: 1561.39, 1659..."
2011,Nizhny Novgorod,235,1493.25,71,"{1658068200: 1540.67, 1658664000: 1548.5, 1659..."
2012,PFC Sochi,235,1480.43,67,"{1658059200: 1732.67, 1658577600: 1754.14, 165..."
6786,Akron,236,1475.57,77,"{1658070000: 1428.39, 1658671200: 1405.0500000..."
2001,FK Neftekhimik,236,1402.32,74,"{1657983600: 1363.06, 1658674800: 1330.1, 1659..."
1089,Enisey,235,1389.76,80,"{1657983600: 1456.98, 1658656800: 1453.73, 165..."
1087,Ska-khabarovsk,236,1370.80,75,"{1658070000: 1421.69, 1658768400: 1406.03, 165..."
6813,Makhachkala,236,1354.57,34,"{1658163600: 1300.0, 1658678400: 1308.03, 1659..."
6831,Urozhay,236,1339.82,76,"{1658073600: 1422.05, 1658674800: 1450.18, 165..."
1994,Khimki,235,1335.63,69,"{1657904400: 1570.16, 1658664000: 1576.8700000..."
1998,Shinnik Yaroslavl,236,1329.20,35,"{1658073600: 1300.0, 1658671200: 1267.47, 1659..."
2015,Krasnodar 2,236,1324.19,72,"{1658073600: 1370.6, 1658678400: 1403.12999999..."
6834,Volga Ulyanovsk,236,1320.40,37,"{1657983600: 1300.0, 1658574000: 1303.25, 1659..."
3985,Torpedo Moskva,235,1311.78,76,"{1658059200: 1531.07, 1658673000: 1509.6, 1659..."
6801,KAMAZ,236,1287.69,76,"{1657983600: 1194.95, 1658768400: 1227.91, 165..."
2004,Volgar Astrakhan,236,1274.17,74,"{1658070000: 1269.82, 1658678400: 1293.1599999..."
1077,Arsenal Tula,236,1260.36,66,"{1658070000: 1398.31, 1658678400: 1413.97, 165..."
1078,FC UFA,236,1260.09,68,"{1658073600: 1500.41, 1658574000: 1472.28, 165..."
6833,Veles,236,1258.27,74,"{1658055600: 1266.17, 1658678400: 1290.67, 165..."

In [8]:
elo_rating_RUS_22.to_csv('csv/Russia/2022/ratingElo2022_2023RFPL.csv', float_format='%.2f')

In [2]:
elo_rating_RUS_23 = calculate_team_elo(file_paths = ['csv/Russia/2023/RFPL.csv', 'csv/Russia/2023/FNL.csv'], league_ratings = [(235, 1600), (236, 1300)], kubok = [('csv/Russia/2023/KUBOK.csv', (237, 1350))], save_elo = True, previus_data = 'csv/Russia/2022/ratingElo2022_2023RFPL.csv')

In [3]:
elo_rating_RUS_23

,team_name,league,elo_rating,games,prev_elos
596,Zenit Saint Petersburg,235,1785.06,95,"{1690028100: 1831.41, 1690307100: 1843.5600000..."
621,Krasnodar,235,1767.89,99,"{1689955200: 1708.12, 1690477200: 1731.3799999..."
597,Lokomotiv Moscow,235,1745.50,95,"{1690036200: 1721.26, 1690299000: 1709.58, 169..."
1088,Dinamo Moscow,235,1741.87,101,"{1689955200: 1528.76, 1690299000: 1505.5, 1690..."
555,CSKA Moscow,235,1719.20,102,"{1690020000: 1784.2, 1690377300: 1759.18, 1690..."
558,Spartak Moscow,235,1660.56,101,"{1690122600: 1661.97, 1690477200: 1676.01, 169..."
1083,Rubin,235,1633.26,91,"{1690036200: 1589.01, 1690393500: 1600.69, 169..."
779,FC Rostov,235,1607.62,96,"{1690131600: 1618.39, 1690393500: 1629.3500000..."
1079,Krylya Sovetov,235,1593.28,96,"{1690045200: 1573.14, 1690385400: 1602.8000000..."
1993,Fakel Voronezh,235,1575.45,102,"{1690131600: 1549.03, 1690385400: 1538.07, 169..."
1080,Orenburg,235,1574.19,102,"{1690122600: 1655.26, 1690377300: 1641.22, 169..."
1085,Akhmat Grozny,235,1559.55,93,"{1690045200: 1656.2, 1690307100: 1626.54, 1690..."
2006,Baltika,235,1525.92,99,"{1690131600: 1546.4, 1690385400: 1519.33000000..."
2011,Nizhny Novgorod,235,1525.80,95,"{1690028100: 1493.25, 1690299000: 1481.1, 1690..."
1084,Ural,235,1518.96,98,"{1690020000: 1595.18, 1690299000: 1620.2, 1690..."
1994,Khimki,236,1502.99,88,"{1689602400: 1335.63, 1690216200: 1311.13, 169..."
6813,Makhachkala,236,1485.70,53,"{1689438600: 1354.57, 1690128000: 1329.47, 169..."
2012,PFC Sochi,235,1457.90,91,"{1690131600: 1480.43, 1690385400: 1507.5, 1690..."
6822,Rodina Moskva,236,1443.08,57,"{1689519600: 1499.36, 1690128000: 1510.7199999..."
6786,Akron,236,1442.75,98,"{1689516000: 1475.57, 1690124400: 1485.1799999..."
2000,Tyumen,236,1439.06,19,"{1689602400: 1300.0, 1690097400: 1324.5, 16907..."
1077,Arsenal Tula,236,1435.91,86,"{1689519600: 1260.36, 1690128000: 1256.9199999..."
6787,Alaniya Vladikavkaz,236,1420.62,97,"{1689611400: 1513.25, 1690210800: 1506.95, 169..."
6801,KAMAZ,236,1340.09,97,"{1689516000: 1287.69, 1690120800: 1278.0800000..."
1089,Enisey,236,1338.14,100,"{1689519600: 1389.76, 1690102800: 1412.62, 169..."
2004,Volgar Astrakhan,236,1335.37,95,"{1689519600: 1274.17, 1690124400: 1265.69, 169..."
2001,FK Neftekhimik,236,1307.86,93,"{1689519600: 1402.32, 1690210800: 1410.8, 1690..."
3985,Torpedo Moskva,236,1293.34,95,"{1689438600: 1311.78, 1690216200: 1336.8799999..."
1087,Ska-khabarovsk,236,1292.31,95,"{1689490800: 1370.8, 1690097400: 1389.21, 1690..."
1998,Shinnik Yaroslavl,236,1272.91,55,"{1689490800: 1329.2, 1690124400: 1310.79, 1690..."
6811,Leningradets,236,1269.66,20,"{1689519600: 1300.0, 1690102800: 1303.44, 1690..."
6831,Urozhay,236,1261.29,95,"{1689519600: 1339.82, 1690120800: 1316.96, 169..."
6791,Chernomorets,236,1233.38,21,"{1689611400: 1300.0, 1690128000: 1306.3, 16907..."
1995,FK Sokol Saratov,236,1229.82,20,"{1689519600: 1300.0, 1690124400: 1288.64, 1690..."

In [4]:
elo_rating_RUS_23.to_csv('csv/Russia/2023/ratingElo2023_2024RFPL.csv', float_format='%.2f')

In [12]:
elo_ratings_eng_21 = calculate_team_elo(['csv/England/2021/PL.csv', 'csv/England/2021/championship.csv'], [(39, 1830), (40, 1620)], [('csv/England/2021/cup.csv', (45, 1700)),('csv/England/2021/carabao.csv', (48, 1700))])

In [13]:
elo_ratings_eng_21

              team_name  league  elo_rating  games
40            Liverpool      39     2147.50     49
50      Manchester City      39     2110.49     43
49              Chelsea      39     2010.71     48
47            Tottenham      39     1959.29     45
42              Arsenal      39     1944.24     43
34            Newcastle      39     1897.20     39
52       Crystal Palace      39     1882.12     43
51             Brighton      39     1857.50     43
46            Leicester      39     1849.07     43
65    Nottingham Forest      40     1845.16     54
33    Manchester United      39     1843.21     41
48             West Ham      39     1816.12     43
66          Aston Villa      39     1805.62     40
35          Bournemouth      40     1804.42     47
55            Brentford      39     1802.34     41
36               Fulham      40     1756.96     50
37         Huddersfield      40     1756.54     53
45              Everton      39     1745.71     43
62        Sheffield Utd      40     1744.41     51
39               Wolves      39     1742.74     42
63                Leeds      39     1732.85     41
44              Burnley      39     1713.86     41
41          Southampton      39     1712.82     44
1359              Luton      40     1679.55     49
58             Millwall      40     1674.20     48
70        Middlesbrough      40     1652.34     50
59              Preston      40     1628.74     48
75           Stoke City      40     1615.02     49
76              Swansea      40     1612.65     49
1346           Coventry      40     1607.79     48
67            Blackburn      40     1602.90     46
60            West Brom      40     1599.78     48
56         Bristol City      40     1580.49     47
71              Norwich      39     1580.40     42
64            Hull City      40     1563.67     47
1356          Blackpool      40     1554.22     47
43              Cardiff      40     1550.48     49
69                Derby      40     1543.09     48
38              Watford      39     1541.99     41
72                  QPR      40     1540.40     48
1350       Peterborough      40     1524.62     48
53              Reading      40     1485.86     47
54           Birmingham      40     1476.70     47
747            Barnsley      40     1385.63     47

In [14]:
elo_ratings_eng_21.to_csv('csv/England/2021/ratingElo2021_2022PL.csv', float_format='%.2f')

In [15]:
elo_ratings_eng_22 = calculate_team_elo(file_paths = ['csv/England/2022/PL.csv', 'csv/England/2022/championship.csv'],  league_ratings = [(39, 1830), (40, 1620)], kubok = [('csv/England/2022/cup.csv', (45, 1700)),('csv/England/2022/carabao.csv', (48, 1700))], save_elo = True, previus_data = 'csv/England/2021/ratingElo2021_2022PL.csv')

In [16]:
elo_ratings_eng_22

,team_name,league,elo_rating,games,prev_elos
50,Manchester City,39,2161.08,90,"{1659886200: 2110.49, 1660399200: 2117.8799999..."
40,Liverpool,39,2038.94,91,"{1659785400: 2147.5, 1660590000: 2140.66, 1661..."
42,Arsenal,39,2015.40,83,"{1659726000: 1944.24, 1660399200: 1960.8700000..."
33,Manchester United,39,2000.21,90,"{1659877200: 1843.21, 1660408200: 1818.3700000..."
34,Newcastle,39,1983.30,83,"{1659794400: 1897.2, 1660399200: 1914.85000000..."
66,Aston Villa,39,1943.73,79,"{1659794400: 1805.62, 1660390200: 1783.9299999..."
51,Brighton,39,1942.19,86,"{1659877200: 1857.5, 1660399200: 1882.34, 1661..."
55,Brentford,39,1941.31,80,"{1659877200: 1802.34, 1660408200: 1810.32, 166..."
44,Burnley,40,1909.78,90,"{1659121200: 1713.86, 1659794400: 1741.6399999..."
47,Tottenham,39,1906.73,86,"{1659794400: 1959.29, 1660491000: 1963.48, 166..."
36,Fulham,39,1853.89,93,"{1659785400: 1756.96, 1660399200: 1770.64, 166..."
52,Crystal Palace,39,1829.55,83,"{1659726000: 1882.12, 1660590000: 1848.86, 166..."
49,Chelsea,39,1820.68,88,"{1659803400: 2010.71, 1660491000: 2016.29, 166..."
48,West Ham,39,1802.36,84,"{1659886200: 1816.12, 1660482000: 1801.35, 166..."
62,Sheffield Utd,40,1801.24,102,"{1659380400: 1744.41, 1659794400: 1718.68, 166..."
39,Wolves,39,1788.41,85,"{1659794400: 1742.74, 1660399200: 1727.81, 166..."
65,Nottingham Forest,39,1770.56,98,"{1659794400: 1845.16, 1660482000: 1827.51, 166..."
1359,Luton,40,1768.11,100,"{1659189600: 1679.55, 1659794400: 1665.51, 166..."
45,Everton,39,1759.54,83,"{1659803400: 1745.71, 1660390200: 1734.55, 166..."
46,Leicester,39,1730.39,83,"{1659877200: 1849.07, 1660399200: 1841.09, 166..."
1346,Coventry,40,1708.82,98,"{1659265200: 1607.79, 1660157100: 1614.03, 166..."
35,Bournemouth,39,1702.90,89,"{1659794400: 1804.42, 1660399200: 1826.1100000..."
746,Sunderland,40,1691.01,50,"{1659265200: 1620.0, 1659794400: 1613.76, 1660..."
76,Swansea,40,1688.30,97,"{1659189600: 1612.65, 1659794400: 1618.64, 166..."
70,Middlesbrough,40,1683.30,99,"{1659198600: 1652.34, 1659794400: 1644.08, 166..."
41,Southampton,39,1641.32,87,"{1659794400: 1712.82, 1660399200: 1704.4299999..."
67,Blackburn,40,1636.74,99,"{1659189600: 1602.9, 1659794400: 1614.17, 1660..."
63,Leeds,39,1636.28,83,"{1659794400: 1732.85, 1660399200: 1747.78, 166..."
37,Huddersfield,40,1632.98,101,"{1659121200: 1756.54, 1659725100: 1728.76, 166..."
56,Bristol City,40,1619.76,98,"{1659189600: 1580.49, 1659794400: 1565.19, 166..."
64,Hull City,40,1617.62,94,"{1659189600: 1563.67, 1659794400: 1578.97, 166..."
60,West Brom,40,1610.81,96,"{1659198600: 1599.78, 1659985200: 1608.04, 166..."
58,Millwall,40,1604.66,95,"{1659189600: 1674.2, 1659794400: 1691.34000000..."
38,Watford,40,1565.85,88,"{1659380400: 1541.99, 1659985200: 1567.72, 166..."
75,Stoke City,40,1555.06,96,"{1659189600: 1615.02, 1659794400: 1597.8799999..."
59,Preston,40,1549.04,98,"{1659189600: 1628.74, 1659794400: 1633.88, 166..."
43,Cardiff,40,1541.65,97,"{1659189600: 1550.48, 1659794400: 1566.5, 1660..."
73,Rotherham,40,1540.10,46,"{1659189600: 1620.0, 1660399200: 1614.01, 1660..."
71,Norwich,40,1540.09,91,"{1659189600: 1580.4, 1659785400: 1564.38, 1660..."
54,Birmingham,40,1506.19,96,"{1659189600: 1476.7, 1659725100: 1490.74, 1660..."
53,Reading,40,1498.27,95,"{1659189600: 1485.86, 1659794400: 1474.86, 166..."
61,Wigan,40,1488.38,48,"{1659189600: 1620.0, 1659785400: 1614.86, 1660..."
1356,Blackpool,40,1469.71,95,"{1659189600: 1554.22, 1659794400: 1565.22, 166..."
72,QPR,40,1430.66,94,"{1659189600: 1540.4, 1659794400: 1529.13, 1660..."

In [17]:
elo_ratings_eng_22.to_csv('csv/England/2022/ratingElo2022_2023PL.csv', float_format='%.2f')

In [5]:
elo_ratings_eng_23 = calculate_team_elo(file_paths = ['csv/England/2023/PL.csv', 'csv/England/2023/championship.csv'],  league_ratings = [(39, 1830), (40, 1620)], kubok = [('csv/England/2023/cup.csv', (45, 1700)),('csv/England/2023/carabao.csv', (48, 1700))], save_elo = True, previus_data = 'csv/England/2022/ratingElo2022_2023PL.csv')

In [6]:
elo_ratings_eng_23

,team_name,league,elo_rating,games,prev_elos
50,Manchester City,39,2141.13,107,"{1691780400: 2161.08, 1692471600: 2171.41, 169..."
40,Liverpool,39,2089.54,109,"{1691940600: 2038.94, 1692453600: 2035.66, 169..."
42,Arsenal,39,2039.80,101,"{1691839800: 2015.4, 1692644400: 2017.82000000..."
66,Aston Villa,39,1990.52,96,"{1691857800: 1943.73, 1692536400: 1932.13, 169..."
34,Newcastle,39,1990.11,101,"{1691857800: 1983.3, 1692471600: 1994.89999999..."
47,Tottenham,39,1949.89,103,"{1691931600: 1906.73, 1692462600: 1910.42, 169..."
33,Manchester United,39,1942.34,108,"{1692039600: 2000.21, 1692462600: 2003.06, 169..."
51,Brighton,39,1931.53,103,"{1691848800: 1942.19, 1692453600: 1948.18, 169..."
45,Everton,39,1909.32,101,"{1691848800: 1759.54, 1692536400: 1739.21, 169..."
49,Chelsea,39,1905.87,106,"{1691940600: 1820.68, 1692545400: 1827.24, 169..."
55,Brentford,39,1902.12,97,"{1691931600: 1941.31, 1692453600: 1937.62, 169..."
36,Fulham,39,1893.95,112,"{1691848800: 1853.89, 1692453600: 1874.22, 169..."
48,West Ham,39,1890.90,101,"{1691848800: 1802.36, 1692545400: 1802.3899999..."
35,Bournemouth,39,1866.53,108,"{1691848800: 1702.9, 1692453600: 1702.87000000..."
46,Leicester,40,1823.63,100,"{1691319600: 1730.39, 1691848800: 1743.66, 169..."
39,Wolves,39,1792.29,102,"{1692039600: 1788.41, 1692453600: 1782.71, 169..."
52,Crystal Palace,39,1768.19,101,"{1691848800: 1829.55, 1692644400: 1853.62, 169..."
65,Nottingham Forest,39,1745.46,115,"{1691839800: 1770.56, 1692384300: 1765.73, 169..."
57,Ipswich,40,1740.81,18,"{1691337600: 1620.0, 1691848800: 1649.12, 1692..."
63,Leeds,40,1725.80,99,"{1691328600: 1636.28, 1691848800: 1626.12, 169..."
44,Burnley,39,1716.52,108,"{1691780400: 1909.78, 1693141200: 1899.45, 169..."
1359,Luton,39,1710.60,116,"{1691848800: 1768.11, 1692990000: 1756.1299999..."
41,Southampton,40,1696.73,103,"{1691175600: 1641.32, 1691848800: 1665.77, 169..."
70,Middlesbrough,40,1687.86,116,"{1691244000: 1683.3, 1691517600: 1653.84, 1691..."
746,Sunderland,40,1686.04,66,"{1691337600: 1691.01, 1691848800: 1661.89, 169..."
60,West Brom,40,1675.99,113,"{1691244000: 1610.81, 1691520300: 1597.76, 169..."
62,Sheffield Utd,39,1666.55,118,"{1691848800: 1801.24, 1692384300: 1777.17, 169..."
64,Hull City,40,1661.45,110,"{1691244000: 1617.62, 1691848800: 1598.9099999..."
76,Swansea,40,1632.54,114,"{1691244000: 1688.3, 1691848800: 1674.88999999..."
59,Preston,40,1619.96,114,"{1691244000: 1549.04, 1691848800: 1558.1499999..."
67,Blackburn,40,1618.76,117,"{1691244000: 1636.74, 1691848800: 1649.79, 169..."
75,Stoke City,40,1615.79,115,"{1691244000: 1555.06, 1691520300: 1578.8799999..."
43,Cardiff,40,1614.87,115,"{1691328600: 1541.65, 1691848800: 1551.8100000..."
58,Millwall,40,1589.14,111,"{1691244000: 1604.66, 1691848800: 1634.1200000..."
38,Watford,40,1588.57,104,"{1691244000: 1565.85, 1691848800: 1581.24, 169..."
56,Bristol City,40,1581.14,115,"{1691244000: 1619.76, 1691848800: 1610.65, 169..."
1346,Coventry,40,1573.89,114,"{1691319600: 1708.82, 1691839800: 1695.55, 169..."
1357,Plymouth,40,1556.73,17,"{1691244000: 1620.0, 1691848800: 1642.64, 1692..."
71,Norwich,40,1550.60,110,"{1691244000: 1540.09, 1691848800: 1558.8, 1692..."
54,Birmingham,40,1508.50,113,"{1691244000: 1506.19, 1691848800: 1519.6000000..."
37,Huddersfield,40,1493.18,118,"{1691244000: 1632.98, 1691517600: 1610.34, 169..."
73,Rotherham,40,1449.67,63,"{1691244000: 1540.1, 1691848800: 1516.28, 1692..."
74,Sheffield Wednesday,40,1417.99,16,"{1691175600: 1620.0, 1691848800: 1595.55, 1692..."
72,QPR,40,1393.22,111,"{1691244000: 1430.66, 1691848800: 1415.27, 169..."

In [7]:
elo_ratings_eng_23.to_csv('csv/England/2023/ratingElo2023_2024PL.csv', float_format='%.2f')

In [10]:
elo_ratings_bundes_21 = calculate_team_elo(['csv/Germany/2021/Bundes.csv', 'csv/Germany/2021/Bundes2.csv'], [(78, 1730), (79, 1520)], [('csv/Germany/2021/DFB.csv', (81, 1600))])

In [11]:
elo_ratings_bundes_21

                     team_name  league  elo_rating  games
157              Bayern Munich      78     1953.68     35
173                 RB Leipzig      78     1901.26     39
168           Bayer Leverkusen      78     1887.37     35
182               Union Berlin      78     1844.41     37
165          Borussia Dortmund      78     1842.49     36
160                SC Freiburg      78     1807.71     38
192                    FC Koln      78     1779.95     36
163   Borussia Monchengladbach      78     1751.06     37
164               FSV Mainz 05      78     1715.78     36
161              VfL Wolfsburg      78     1710.24     34
174              FC Schalke 04      79     1705.11     34
162              Werder Bremen      79     1700.61     34
169        Eintracht Frankfurt      78     1681.14     34
170                FC Augsburg      78     1677.18     35
176                 VfL BOCHUM      78     1671.27     37
175               Hamburger SV      78     1664.95     40
172              VfB Stuttgart      78     1634.80     35
167            1899 Hoffenheim      78     1633.53     36
181            SV Darmstadt 98      79     1620.05     34
159              Hertha Berlin      78     1606.71     37
186               FC St. Pauli      79     1593.29     37
188          Arminia Bielefeld      78     1581.98     35
185            SC Paderborn 07      79     1578.37     35
158         Fortuna Dusseldorf      79     1566.80     35
189              SV Sandhausen      79     1555.80     35
180              FC Heidenheim      79     1537.63     35
745          FC Kaiserslautern      79     1527.01      3
191              Holstein Kiel      79     1524.24     35
171                FC Nurnberg      79     1519.99     35
178       SpVgg Greuther Furth      78     1519.65     34
166                Hannover 96      79     1510.66     37
1321             Hansa Rostock      79     1495.59     37
785              Karlsruher SC      79     1472.88     36
177            Jahn Regensburg      79     1409.95     35
183             Dynamo Dresden      79     1380.88     38
184           FC Ingolstadt 04      79     1357.21     36
190             Erzgebirge AUE      79     1355.47     35

In [13]:
elo_ratings_bundes_21.to_csv('csv/Germany/2021/ratingElo2021_2022Bundes.csv', float_format='%.2f')

In [14]:
elo_ratings_bundes_22 = calculate_team_elo(['csv/Germany/2022/Bundes.csv', 'csv/Germany/2022/Bundes2.csv'], [(78, 1730), (79, 1520)], [('csv/Germany/2022/DFB.csv', (81, 1600))], save_elo = True, previus_data = 'csv/Germany/2021/ratingElo2021_2022Bundes.csv')

In [15]:
elo_ratings_bundes_22

,team_name,league,elo_rating,games,prev_elos
173,RB Leipzig,78,1976.03,78,"{1659879000: 1901.26, 1660397400: 1896.8, 1661..."
157,Bayern Munich,78,1968.32,72,"{1659724200: 1953.68, 1660491000: 1965.95, 166..."
165,Borussia Dortmund,78,1939.02,73,"{1659803400: 1842.49, 1660329000: 1859.34, 166..."
182,Union Berlin,78,1838.98,74,"{1659792600: 1844.41, 1660483800: 1851.8500000..."
168,Bayer Leverkusen,78,1826.51,69,"{1659803400: 1887.37, 1660397400: 1870.52, 166..."
160,SC Freiburg,78,1814.15,77,"{1659274260: 1807.71, 1659792600: 1819.0, 1660..."
169,Eintracht Frankfurt,78,1787.53,73,"{1659379560: 1681.14, 1659724200: 1712.13, 166..."
161,VfL Wolfsburg,78,1768.62,70,"{1659792600: 1710.24, 1660491000: 1704.13, 166..."
172,VfB Stuttgart,78,1756.33,75,"{1659879000: 1634.8, 1660397400: 1643.71, 1661..."
192,FC Koln,78,1738.14,71,"{1659187860: 1779.95, 1659886200: 1770.5900000..."
163,Borussia Monchengladbach,78,1732.50,72,"{1659792600: 1751.06, 1660408200: 1764.3999999..."
164,FSV Mainz 05,78,1714.31,71,"{1659792600: 1715.78, 1660483800: 1738.95, 166..."
186,FC St. Pauli,79,1698.85,72,"{1657969200: 1593.29, 1658601000: 1604.07, 165..."
180,FC Heidenheim,79,1698.22,70,"{1658057400: 1537.63, 1658574000: 1560.94, 165..."
167,1899 Hoffenheim,78,1684.88,72,"{1659792600: 1633.53, 1660397400: 1620.19, 166..."
176,VfL BOCHUM,78,1672.21,72,"{1659792600: 1671.27, 1660397400: 1648.1, 1661..."
174,FC Schalke 04,78,1660.59,69,"{1659886200: 1705.11, 1660408200: 1688.4099999..."
158,Fortuna Dusseldorf,79,1657.31,71,"{1657996200: 1566.8, 1658507400: 1589.84, 1659..."
162,Werder Bremen,78,1640.72,69,"{1659792600: 1700.61, 1660397400: 1706.7199999..."
181,SV Darmstadt 98,79,1613.84,70,"{1657969200: 1620.05, 1658507400: 1580.85, 165..."
175,Hamburger SV,78,1611.63,77,"{1658057400: 1664.95, 1658662200: 1691.0900000..."
170,FC Augsburg,78,1596.00,70,"{1659792600: 1677.18, 1660397400: 1644.17, 166..."
159,Hertha Berlin,78,1584.81,72,"{1659283260: 1606.71, 1659792600: 1604.8600000..."
185,SC Paderborn 07,79,1579.56,71,"{1658057400: 1578.37, 1658507400: 1597.1299999..."
785,Karlsruher SC,79,1569.17,71,"{1658057400: 1472.88, 1658662200: 1454.1200000..."
1319,SV Wehen,79,1561.15,2,"{1685731500: 1520.0, 1686077100: 1541.32}"
191,Holstein Kiel,79,1539.96,69,"{1657969200: 1524.24, 1658574000: 1529.6, 1659..."
179,FC Magdeburg,79,1530.12,35,"{1657996200: 1520.0, 1658662200: 1496.96, 1659..."
178,SpVgg Greuther Furth,79,1519.80,68,"{1657969200: 1519.65, 1658574000: 1514.2900000..."
171,FC Nurnberg,79,1482.27,71,"{1657969200: 1519.99, 1658574000: 1509.21, 165..."
1321,Hansa Rostock,79,1481.61,71,"{1658057400: 1495.59, 1658662200: 1472.28, 165..."
166,Hannover 96,79,1476.35,72,"{1657909800: 1510.66, 1658601000: 1497.1200000..."
745,FC Kaiserslautern,79,1459.41,38,"{1657909800: 1527.01, 1658574000: 1540.55, 165..."
744,Eintracht Braunschweig,79,1434.39,36,"{1658057400: 1520.0, 1658574000: 1493.86, 1659..."
188,Arminia Bielefeld,79,1418.46,72,"{1657969200: 1581.98, 1658662200: 1566.17, 165..."
177,Jahn Regensburg,79,1359.93,71,"{1657969200: 1409.95, 1658662200: 1449.15, 165..."
189,SV Sandhausen,79,1346.40,71,"{1657969200: 1555.8, 1658507400: 1571.61, 1659..."

In [16]:
elo_ratings_bundes_22.to_csv('csv/Germany/2022/ratingElo2022_2023Bundes.csv', float_format='%.2f')

In [8]:
elo_ratings_bundes_23 = calculate_team_elo(['csv/Germany/2023/Bundes.csv', 'csv/Germany/2023/Bundes2.csv'], [(78, 1730), (79, 1520)], [('csv/Germany/2023/DFB.csv', (81, 1600))], save_elo = True, previus_data = 'csv/Germany/2022/ratingElo2022_2023Bundes.csv')
elo_ratings_bundes_23

,team_name,league,elo_rating,games,prev_elos
157,Bayern Munich,78,2000.96,85,"{1692383400: 1968.32, 1693150200: 1976.29, 169..."
173,RB Leipzig,78,1959.40,94,"{1692451800: 1976.03, 1692988200: 1964.61, 169..."
168,Bayer Leverkusen,78,1957.26,84,"{1692451800: 1826.51, 1693067400: 1849.34, 169..."
172,VfB Stuttgart,78,1931.43,91,"{1692451800: 1756.33, 1692988200: 1776.9199999..."
165,Borussia Dortmund,78,1920.33,89,"{1692462600: 1939.02, 1693056600: 1942.32, 169..."
169,Eintracht Frankfurt,78,1848.43,87,"{1692545400: 1787.53, 1693143000: 1794.3899999..."
186,FC St. Pauli,79,1768.65,87,"{1690628400: 1698.85, 1691233200: 1711.23, 169..."
167,1899 Hoffenheim,78,1755.19,87,"{1692451800: 1684.88, 1693056600: 1666.5600000..."
160,SC Freiburg,78,1750.30,92,"{1692451800: 1814.15, 1693056600: 1832.47, 169..."
163,Borussia Monchengladbach,78,1731.66,88,"{1692451800: 1732.5, 1693067400: 1730.41, 1693..."
161,VfL Wolfsburg,78,1690.70,86,"{1692451800: 1768.62, 1693056600: 1784.9799999..."
182,Union Berlin,78,1670.42,88,"{1692538200: 1838.98, 1693056600: 1854.99, 169..."
176,VfL BOCHUM,78,1661.72,86,"{1692451800: 1672.21, 1693056600: 1651.6200000..."
158,Fortuna Dusseldorf,79,1657.02,86,"{1690655400: 1657.31, 1691233200: 1668.12, 169..."
162,Werder Bremen,78,1656.59,83,"{1692383400: 1640.72, 1693056600: 1624.79, 169..."
170,FC Augsburg,78,1656.50,84,"{1692451800: 1596.0, 1693150200: 1598.09, 1693..."
192,FC Koln,78,1654.42,87,"{1692038700: 1738.14, 1692462600: 1757.18, 169..."
180,FC Heidenheim,78,1645.57,85,"{1692451800: 1698.22, 1693056600: 1681.8600000..."
175,Hamburger SV,79,1645.51,92,"{1690569000: 1611.63, 1691321400: 1637.25, 169..."
164,FSV Mainz 05,78,1637.78,87,"{1691856000: 1714.31, 1692538200: 1727.78, 169..."
191,Holstein Kiel,79,1619.01,84,"{1690716600: 1539.96, 1691233200: 1559.64, 169..."
178,SpVgg Greuther Furth,79,1607.38,82,"{1690716600: 1519.8, 1691233200: 1555.19, 1692..."
1660,SV Elversberg,79,1602.74,15,"{1690628400: 1520.0, 1691233200: 1523.22, 1691..."
159,Hertha Berlin,79,1598.17,88,"{1690655400: 1584.81, 1691166600: 1574.0, 1692..."
185,SC Paderborn 07,79,1582.76,87,"{1690716600: 1579.56, 1691166600: 1544.1699999..."
1319,SV Wehen,79,1574.09,17,"{1690628400: 1561.15, 1691166600: 1553.95, 169..."
166,Hannover 96,79,1570.74,86,"{1690628400: 1476.35, 1691321400: 1473.1299999..."
181,SV Darmstadt 98,78,1559.37,84,"{1692545400: 1613.84, 1693056600: 1606.98, 169..."
785,Karlsruher SC,79,1543.02,85,"{1690628400: 1569.17, 1691321400: 1592.0800000..."
171,FC Nurnberg,79,1528.39,87,"{1690716600: 1482.27, 1691321400: 1460.62, 169..."
174,FC Schalke 04,79,1514.32,85,"{1690569000: 1660.59, 1691260200: 1634.97, 169..."
745,FC Kaiserslautern,79,1507.23,54,"{1690628400: 1459.41, 1691260200: 1447.03, 169..."
179,FC Magdeburg,79,1496.77,51,"{1690628400: 1530.12, 1691321400: 1537.32, 169..."
1321,Hansa Rostock,79,1440.25,86,"{1690716600: 1481.61, 1691233200: 1503.26, 169..."
1324,VfL Osnabruck,79,1347.47,15,"{1690628400: 1520.0, 1691166600: 1497.09, 1692..."
744,Eintracht Braunschweig,79,1343.38,51,"{1690716600: 1434.39, 1691321400: 1414.71, 169..."

In [9]:
elo_ratings_bundes_23.to_csv('csv/Germany/2023/ratingElo2023_2024Bundes.csv', float_format='%.2f')

In [20]:
elo_ratings_italy_21 = calculate_team_elo(['csv/Italy/2021/SeriaA.csv', 'csv/Italy/2021/SeriaB.csv'], [(78, 1710), (79, 1500)], [('csv/Italy/2021/KUBOK.csv', (81, 1600))])
elo_ratings_italy_21

            team_name  league  elo_rating  games
505             Inter      78     1955.66     43
489          AC Milan      78     1934.99     42
492            Napoli      78     1886.95     39
496          Juventus      78     1843.47     43
487             Lazio      78     1817.16     40
497           AS Roma      78     1815.42     40
494           Udinese      78     1744.23     41
502        Fiorentina      78     1741.98     44
504            Verona      78     1718.66     39
488          Sassuolo      78     1714.10     40
503            Torino      78     1703.09     40
499          Atalanta      78     1697.16     40
1579            Monza      79     1669.20     43
500           Bologna      78     1655.99     39
867             Lecce      79     1650.82     41
498         Sampdoria      78     1624.20     41
511            Empoli      78     1603.29     41
520         Cremonese      79     1584.72     39
507            Ascoli      79     1575.84     40
518           Brescia      79     1573.88     42
506         Benevento      79     1573.88     43
514       Salernitana      78     1568.04     40
515            Spezia      78     1565.16     40
490          Cagliari      78     1564.58     41
495             Genoa      78     1560.95     41
524           Perugia      79     1551.79     40
801              Pisa      79     1544.19     43
523             Parma      79     1513.24     39
512         Frosinone      79     1509.07     39
516           Ternana      79     1508.82     40
517           Venezia      78     1494.11     41
493              Spal      79     1485.22     39
510        Cittadella      79     1484.39     40
895              como      79     1447.12     38
1584   Vicenza Virtus      79     1445.30     41
10137   Nuova Cosenza      79     1416.13     41
1692          Reggina      79     1408.00     39
501           Crotone      79     1378.48     40
878       Alessandria      79     1376.77     39
862         Pordenone      79     1259.66     39

In [21]:
elo_ratings_italy_21.to_csv('csv/Italy/2021/ratingElo2021_2022Italy.csv', float_format='%.2f')
elo_ratings_italy_22 = calculate_team_elo(['csv/Italy/2022/SeriaA.csv', 'csv/Italy/2022/SeriaB.csv'], [(78, 1730), (79, 1520)], [('csv/Italy/2022/KUBOK.csv', (81, 1600))], save_elo = True, previus_data = 'csv/Italy/2021/ratingElo2021_2022Italy.csv')
elo_ratings_italy_22

,team_name,league,elo_rating,games,prev_elos
492,Napoli,78,1952.45,78,"{1660581000: 1886.95, 1661099400: 1909.64, 166..."
505,Inter,78,1945.27,86,"{1660416300: 1955.66, 1661021100: 1959.72, 166..."
487,Lazio,78,1920.96,80,"{1660494600: 1817.16, 1661013000: 1824.6100000..."
496,Juventus,78,1875.92,85,"{1660589100: 1843.47, 1661193900: 1856.6000000..."
489,AC Milan,78,1866.70,81,"{1660408200: 1934.99, 1661107500: 1939.73, 166..."
502,Fiorentina,78,1813.12,87,"{1660494600: 1741.98, 1661099400: 1749.77, 166..."
499,Atalanta,78,1791.97,80,"{1660408200: 1697.16, 1661107500: 1729.97, 166..."
500,Bologna,78,1785.29,80,"{1659986100: 1655.99, 1660494600: 1660.94, 166..."
503,Torino,78,1764.49,82,"{1659813300: 1703.09, 1660416300: 1714.56, 166..."
497,AS Roma,78,1760.18,80,"{1660502700: 1815.42, 1661185800: 1825.46, 166..."
1579,Monza,78,1756.70,84,"{1659899700: 1669.2, 1660416300: 1676.51, 1661..."
512,Frosinone,79,1730.95,78,"{1659899700: 1509.07, 1660502700: 1501.76, 166..."
495,Genoa,79,1698.50,82,"{1659973500: 1560.95, 1660502700: 1576.04, 166..."
490,Cagliari,79,1693.72,86,"{1659714300: 1564.58, 1660416300: 1578.31, 166..."
514,Salernitana,78,1675.35,79,"{1659898800: 1568.04, 1660502700: 1525.49, 166..."
511,Empoli,78,1668.81,80,"{1659812400: 1603.29, 1660502700: 1572.1599999..."
494,Udinese,78,1644.27,80,"{1660408200: 1744.23, 1661013000: 1734.75, 166..."
488,Sassuolo,78,1639.84,79,"{1659974400: 1714.1, 1660589100: 1688.81, 1661..."
504,Verona,78,1618.53,79,"{1659888000: 1718.66, 1660581000: 1659.3000000..."
508,Bari,79,1607.87,44,"{1659888000: 1520.0, 1660329900: 1579.36, 1660..."
523,Parma,79,1607.78,82,"{1659898800: 1513.24, 1660329900: 1555.79, 166..."
867,Lecce,78,1597.61,80,"{1659726000: 1650.82, 1660416300: 1617.9199999..."
520,Cremonese,78,1592.01,83,"{1659985200: 1584.72, 1660494600: 1595.38, 166..."
1578,Sudtirol,79,1580.68,41,"{1660502700: 1520.0, 1661107500: 1505.32, 1661..."
517,Venezia,79,1547.18,81,"{1659887100: 1494.11, 1660502700: 1473.06, 166..."
895,como,79,1528.13,77,"{1659801600: 1447.12, 1660416300: 1430.4799999..."
522,Palermo,79,1516.74,39,"{1659813300: 1520.0, 1660416300: 1508.53, 1660..."
515,Spezia,78,1516.51,82,"{1659801600: 1565.16, 1660502700: 1581.8000000..."
507,Ascoli,79,1481.90,80,"{1659887100: 1575.84, 1660502700: 1596.8899999..."
899,Modena,79,1478.84,40,"{1659974400: 1520.0, 1660502700: 1545.29, 1661..."
801,Pisa,79,1466.65,82,"{1659800700: 1544.19, 1660416300: 1502.2, 1661..."
510,Cittadella,79,1465.41,80,"{1659726000: 1484.39, 1660416300: 1517.2900000..."
1692,Reggina,79,1460.81,79,"{1659726900: 1408.0, 1660502700: 1402.42, 1661..."
498,Sampdoria,78,1459.47,82,"{1659726900: 1624.2, 1660408200: 1629.78, 1661..."
10137,Nuova Cosenza,79,1454.01,82,"{1659986100: 1416.13, 1660502700: 1411.18, 166..."
493,Spal,79,1436.69,79,"{1659812400: 1485.22, 1660502700: 1516.3500000..."
524,Perugia,79,1427.37,79,"{1659714300: 1551.79, 1660416300: 1538.06, 166..."
518,Brescia,79,1409.69,84,"{1659800700: 1573.88, 1660502700: 1615.8700000..."
516,Ternana,79,1380.83,79,"{1659985200: 1508.82, 1660502700: 1498.1599999..."
506,Benevento,79,1377.08,82,"{1659973500: 1573.88, 1660502700: 1558.7900000..."

In [22]:
elo_ratings_italy_22.to_csv('csv/Italy/2022/ratingElo2022_2023Italy.csv', float_format='%.2f')

In [10]:
elo_ratings_italy_23 = calculate_team_elo(['csv/Italy/2023/SeriaA.csv', 'csv/Italy/2023/SeriaB.csv'], [(78, 1730), (79, 1520)], [('csv/Italy/2023/KUBOK.csv', (81, 1600))], save_elo = True, previus_data = 'csv/Italy/2022/ratingElo2022_2023Italy.csv')
elo_ratings_italy_23

,team_name,league,elo_rating,games,prev_elos
505,Inter,78,2014.04,101,"{1692470700: 1945.27, 1693248300: 1949.3, 1693..."
496,Juventus,78,1948.02,100,"{1692557100: 1875.92, 1693153800: 1899.6000000..."
492,Napoli,78,1909.95,93,"{1692462600: 1952.45, 1693161900: 1962.5800000..."
489,AC Milan,78,1903.93,96,"{1692643500: 1866.7, 1693075500: 1898.3, 16935..."
487,Lazio,78,1897.46,96,"{1692557100: 1920.96, 1693161900: 1905.51, 169..."
502,Fiorentina,78,1850.03,103,"{1692470700: 1813.12, 1693153800: 1847.1999999..."
500,Bologna,78,1849.49,96,"{1692643500: 1785.29, 1693153800: 1753.69, 169..."
497,AS Roma,78,1821.90,95,"{1692549000: 1760.18, 1693075500: 1750.6100000..."
499,Atalanta,78,1800.47,95,"{1692549000: 1791.97, 1693067400: 1819.76, 169..."
503,Torino,78,1760.64,99,"{1692040500: 1764.49, 1692635400: 1769.33, 169..."
1579,Monza,78,1746.30,100,"{1691954100: 1756.7, 1692470700: 1721.73, 1693..."
523,Parma,79,1737.71,99,"{1691856000: 1607.78, 1692556200: 1652.59, 169..."
512,Frosinone,78,1729.88,95,"{1691768700: 1730.95, 1692462600: 1735.3300000..."
490,Cagliari,78,1671.13,103,"{1691867700: 1693.72, 1692635400: 1700.47, 169..."
517,Venezia,79,1658.85,96,"{1692039600: 1547.18, 1692556200: 1551.1200000..."
495,Genoa,78,1658.61,100,"{1691780400: 1698.5, 1692470700: 1703.98, 1693..."
520,Cremonese,79,1642.43,98,"{1692469800: 1592.01, 1693074600: 1582.17, 169..."
488,Sassuolo,78,1638.23,96,"{1691942400: 1639.84, 1692549000: 1666.37, 169..."
867,Lecce,78,1633.65,97,"{1691953200: 1597.61, 1692557100: 1608.56, 169..."
494,Udinese,78,1623.07,97,"{1691769600: 1644.27, 1692557100: 1659.37, 169..."
511,Empoli,78,1603.72,96,"{1691855100: 1668.81, 1692462600: 1634.75, 169..."
514,Salernitana,78,1588.85,96,"{1691941500: 1675.35, 1692549000: 1679.09, 169..."
504,Verona,78,1586.89,96,"{1691866800: 1618.53, 1692462600: 1630.76, 169..."
895,Como,79,1567.26,92,"{1691953200: 1528.13, 1692556200: 1517.18, 169..."
1687,Catanzaro,79,1550.90,15,"{1691769600: 1520.0, 1692469800: 1504.9, 16931..."
522,Palermo,79,1541.20,54,"{1691867700: 1516.74, 1692383400: 1509.99, 169..."
508,Bari,79,1524.41,59,"{1691856000: 1607.87, 1692383400: 1563.06, 169..."
1578,Sudtirol,79,1519.29,56,"{1692028800: 1580.68, 1692547200: 1579.46, 169..."
510,Cittadella,79,1512.74,96,"{1691855100: 1465.41, 1692556200: 1499.47, 169..."
899,Modena,79,1507.35,55,"{1691780400: 1478.84, 1693074600: 1473.36, 169..."
498,Sampdoria,79,1495.47,98,"{1692028800: 1459.47, 1692469800: 1460.69, 169..."
880,Reggiana,79,1483.94,16,"{1691954100: 1520.0, 1692556200: 1554.97, 1693..."
6379,Lecco,79,1474.26,14,"{1693758600: 1520.0, 1694865600: 1495.87, 1695..."
801,Pisa,79,1471.82,97,"{1691768700: 1466.65, 1692988200: 1462.27, 169..."
10137,Cosenza,79,1468.11,97,"{1691942400: 1454.01, 1692469800: 1427.48, 169..."
507,Ascoli,79,1444.57,95,"{1691866800: 1481.9, 1692469800: 1469.67, 1693..."
515,Spezia,79,1441.99,98,"{1692039600: 1516.51, 1692547200: 1512.57, 169..."
518,Brescia,79,1409.12,98,"{1693750500: 1409.69, 1694865600: 1425.91, 169..."
884,Feralpisalo,79,1375.94,15,"{1692040500: 1520.0, 1692556200: 1515.16, 1693..."
516,Ternana,79,1360.43,94,"{1691941500: 1380.83, 1692469800: 1377.09, 169..."

In [11]:
elo_ratings_italy_23.to_csv('csv/Italy/2023/ratingElo2023_2024Italy.csv', float_format='%.2f')