In [2]:
from elo_calculator import calculate_team_elo

In [2]:
elo_ratings_RUS_21 = calculate_team_elo(['csv/Russia/2021/output.csv', 'csv/Russia/2021/outputFNL.csv'], [(235, 1600), (236, 1300)], [('csv/Russia/2021/outputKUBOK.csv', (237, 1350))])

In [3]:
elo_ratings_RUS_21

                   team_name  league  elo_rating  games
596   Zenit Saint Petersburg     235     1791.35     32
2012               PFC Sochi     235     1732.67     31
558           Spartak Moscow     235     1656.30     35
621                Krasnodar     235     1632.87     31
555              CSKA Moscow     235     1621.49     34
1088           Dinamo Moscow     235     1600.82     36
1085           Akhmat Grozny     235     1598.82     31
597         Lokomotiv Moscow     235     1584.34     31
1079          Krylya Sovetov     235     1574.59     31
1994                  Khimki     235     1570.16     33
779                FC Rostov     235     1565.33     31
1084                    Ural     235     1561.70     31
2011         Nizhny Novgorod     235     1540.67     32
3985          Torpedo Moskva     236     1531.07     40
1078                  FC UFA     235     1500.41     33
1080                Orenburg     235     1483.95     41
1993          Fakel Voronezh     236     1469.78     40
1089                  Enisey     236     1456.98     43
2006                 Baltika     236     1445.78     40
6786                   Akron     236     1428.39     39
6831                 Urozhay     236     1422.05     41
1087          Ska-khabarovsk     235     1421.69     41
1077            Arsenal Tula     235     1398.31     32
1083                   Rubin     235     1397.38     32
2003        Spartak Moscow 2     236     1376.60     38
2015             Krasnodar 2     236     1370.60     38
2001          FK Neftekhimik     236     1363.06     39
6787     Alaniya Vladikavkaz     236     1347.74     43
1081               Tom Tomsk     236     1306.11     39
2004        Volgar Astrakhan     236     1269.82     39
6833                   Veles     236     1266.17     40
6797             Dolgoprudny     236     1222.99     39
2010         Rotor Volgograd     236     1219.32     40
6815       Metallurg Lipetsk     236     1209.08     40
6801                   KAMAZ     236     1194.95     41
3984           Tekstilshchik     236     1066.66     39

In [5]:
elo_ratings_RUS_21.to_csv('csv/Russia/2021/ratingElo2021_2022RFPL.csv', float_format='%.2f')

In [6]:
elo_rating_RUS_22 = calculate_team_elo(file_paths = ['csv/Russia/2022/RFPL.csv', 'csv/Russia/2022/FNL.csv'], league_ratings = [(235, 1600), (236, 1300)], kubok = [('csv/Russia/2022/KUBOK.csv', (237, 1350))], save_elo = True, previus_data = 'csv/Russia/2021/ratingElo2021_2022RFPL.csv')

In [7]:
elo_rating_RUS_22

,team_name,league,elo_rating,games,prev_elos
596,Zenit Saint Petersburg,235,1831.41,70,"{1657904400: 1791.35, 1658509200: 1784.6399999..."
555,CSKA Moscow,235,1784.20,77,"{1657972800: 1621.49, 1658577600: 1638.59, 165..."
597,Lokomotiv Moscow,235,1721.26,70,"{1658068200: 1584.34, 1658682000: 1576.51, 165..."
621,Krasnodar,235,1708.12,75,"{1658077200: 1632.87, 1658595600: 1620.08, 165..."
558,Spartak Moscow,235,1661.97,76,"{1657990800: 1656.3, 1658595600: 1658.74, 1659..."
1085,Akhmat Grozny,235,1656.20,69,"{1657990800: 1598.82, 1658682000: 1596.3799999..."
1080,Orenburg,235,1655.26,77,"{1657981800: 1483.95, 1658586600: 1453.14, 165..."
779,FC Rostov,235,1618.39,71,"{1658077200: 1565.33, 1658682000: 1572.76, 165..."
1084,Ural,235,1595.18,74,"{1657972800: 1561.7, 1658586600: 1544.60000000..."
1083,Rubin,236,1589.01,67,"{1658070000: 1397.38, 1658656800: 1435.99, 165..."
1079,Krylya Sovetov,235,1573.14,72,"{1657981800: 1574.59, 1658509200: 1605.3999999..."
1993,Fakel Voronezh,235,1549.03,78,"{1658077200: 1469.78, 1658682000: 1482.57, 165..."
2006,Baltika,236,1546.40,74,"{1658055600: 1445.78, 1658678400: 1421.28, 165..."
1088,Dinamo Moscow,235,1528.76,76,"{1658077200: 1600.82, 1658673000: 1593.3899999..."
6787,Alaniya Vladikavkaz,236,1513.25,78,"{1658163600: 1347.74, 1658667600: 1339.71, 165..."
6822,Rodina Moskva,235,1499.36,36,"{1658070000: 1600.0, 1658667600: 1561.39, 1659..."
2011,Nizhny Novgorod,235,1493.25,71,"{1658068200: 1540.67, 1658664000: 1548.5, 1659..."
2012,PFC Sochi,235,1480.43,67,"{1658059200: 1732.67, 1658577600: 1754.14, 165..."
6786,Akron,236,1475.57,77,"{1658070000: 1428.39, 1658671200: 1405.0500000..."
2001,FK Neftekhimik,236,1402.32,74,"{1657983600: 1363.06, 1658674800: 1330.1, 1659..."
1089,Enisey,235,1389.76,80,"{1657983600: 1456.98, 1658656800: 1453.73, 165..."
1087,Ska-khabarovsk,236,1370.80,75,"{1658070000: 1421.69, 1658768400: 1406.03, 165..."
6813,Makhachkala,236,1354.57,34,"{1658163600: 1300.0, 1658678400: 1308.03, 1659..."
6831,Urozhay,236,1339.82,76,"{1658073600: 1422.05, 1658674800: 1450.18, 165..."
1994,Khimki,235,1335.63,69,"{1657904400: 1570.16, 1658664000: 1576.8700000..."
1998,Shinnik Yaroslavl,236,1329.20,35,"{1658073600: 1300.0, 1658671200: 1267.47, 1659..."
2015,Krasnodar 2,236,1324.19,72,"{1658073600: 1370.6, 1658678400: 1403.12999999..."
6834,Volga Ulyanovsk,236,1320.40,37,"{1657983600: 1300.0, 1658574000: 1303.25, 1659..."
3985,Torpedo Moskva,235,1311.78,76,"{1658059200: 1531.07, 1658673000: 1509.6, 1659..."
6801,KAMAZ,236,1287.69,76,"{1657983600: 1194.95, 1658768400: 1227.91, 165..."
2004,Volgar Astrakhan,236,1274.17,74,"{1658070000: 1269.82, 1658678400: 1293.1599999..."
1077,Arsenal Tula,236,1260.36,66,"{1658070000: 1398.31, 1658678400: 1413.97, 165..."
1078,FC UFA,236,1260.09,68,"{1658073600: 1500.41, 1658574000: 1472.28, 165..."
6833,Veles,236,1258.27,74,"{1658055600: 1266.17, 1658678400: 1290.67, 165..."

In [8]:
elo_rating_RUS_22.to_csv('csv/Russia/2022/ratingElo2022_2023RFPL.csv', float_format='%.2f')

In [3]:
elo_rating_RUS_23 = calculate_team_elo(file_paths = ['csv/Russia/2023/RFPL.csv', 'csv/Russia/2023/FNL.csv'], league_ratings = [(235, 1600), (236, 1300)], kubok = [('csv/Russia/2023/KUBOK.csv', (237, 1350))], save_elo = True, previus_data = 'csv/Russia/2022/ratingElo2022_2023RFPL.csv')

In [4]:
elo_rating_RUS_23

,team_name,league,elo_rating,games,prev_elos
596,Zenit Saint Petersburg,235,1795.17,86,"{1690028100: 1831.41, 1690307100: 1843.5600000..."
621,Krasnodar,235,1784.35,91,"{1689955200: 1708.12, 1690477200: 1731.3799999..."
597,Lokomotiv Moscow,235,1733.09,86,"{1690036200: 1721.26, 1690299000: 1709.58, 169..."
555,CSKA Moscow,235,1718.16,93,"{1690020000: 1784.2, 1690377300: 1759.18, 1690..."
558,Spartak Moscow,235,1660.26,92,"{1690122600: 1661.97, 1690477200: 1676.01, 169..."
1088,Dinamo Moscow,235,1647.33,92,"{1689955200: 1528.76, 1690299000: 1505.5, 1690..."
1085,Akhmat Grozny,235,1636.49,85,"{1690045200: 1656.2, 1690307100: 1626.54, 1690..."
1080,Orenburg,235,1625.49,93,"{1690122600: 1655.26, 1690377300: 1641.22, 169..."
1084,Ural,235,1620.84,90,"{1690020000: 1595.18, 1690299000: 1620.2, 1690..."
1079,Krylya Sovetov,235,1592.21,88,"{1690045200: 1573.14, 1690385400: 1602.8000000..."
2006,Baltika,235,1563.31,90,"{1690131600: 1546.4, 1690385400: 1519.33000000..."
779,FC Rostov,235,1550.83,87,"{1690131600: 1618.39, 1690393500: 1629.3500000..."
2011,Nizhny Novgorod,235,1543.02,87,"{1690028100: 1493.25, 1690299000: 1481.1, 1690..."
1083,Rubin,235,1540.12,83,"{1690036200: 1589.01, 1690393500: 1600.69, 169..."
1993,Fakel Voronezh,235,1531.92,94,"{1690131600: 1549.03, 1690385400: 1538.07, 169..."
6787,Alaniya Vladikavkaz,236,1508.50,91,"{1689611400: 1513.25, 1690210800: 1506.95, 169..."
2012,PFC Sochi,235,1449.42,83,"{1690131600: 1480.43, 1690385400: 1507.5, 1690..."
6813,Makhachkala,236,1448.09,47,"{1689438600: 1354.57, 1690128000: 1329.47, 169..."
6786,Akron,236,1425.72,90,"{1689516000: 1475.57, 1690124400: 1485.1799999..."
6822,Rodina Moskva,236,1405.97,49,"{1689519600: 1499.36, 1690128000: 1510.7199999..."
1994,Khimki,236,1405.04,82,"{1689602400: 1335.63, 1690216200: 1311.13, 169..."
2000,Tyumen,236,1370.09,13,"{1689602400: 1300.0, 1690097400: 1324.5, 16907..."
1089,Enisey,236,1362.73,93,"{1689519600: 1389.76, 1690102800: 1412.62, 169..."
6791,Chernomorets,236,1352.40,13,"{1689611400: 1300.0, 1690128000: 1306.3, 16907..."
1998,Shinnik Yaroslavl,236,1351.27,48,"{1689490800: 1329.2, 1690124400: 1310.79, 1690..."
2001,FK Neftekhimik,236,1347.04,87,"{1689519600: 1402.32, 1690210800: 1410.8, 1690..."
1077,Arsenal Tula,236,1332.18,79,"{1689519600: 1260.36, 1690128000: 1256.9199999..."
1087,Ska-khabarovsk,236,1330.12,89,"{1689490800: 1370.8, 1690097400: 1389.21, 1690..."
3985,Torpedo Moskva,236,1322.30,89,"{1689438600: 1311.78, 1690216200: 1336.8799999..."
6801,KAMAZ,236,1307.73,90,"{1689516000: 1287.69, 1690120800: 1278.0800000..."
1995,FK Sokol Saratov,236,1300.08,14,"{1689519600: 1300.0, 1690124400: 1288.64, 1690..."
6811,Leningradets,236,1274.55,14,"{1689519600: 1300.0, 1690102800: 1303.44, 1690..."
6831,Urozhay,236,1256.04,89,"{1689519600: 1339.82, 1690120800: 1316.96, 169..."
2004,Volgar Astrakhan,236,1244.43,87,"{1689519600: 1274.17, 1690124400: 1265.69, 169..."

In [5]:
elo_rating_RUS_23.to_csv('csv/Russia/2023/ratingElo2023_2024RFPL.csv', float_format='%.2f')

In [12]:
elo_ratings_eng_21 = calculate_team_elo(['csv/England/2021/PL.csv', 'csv/England/2021/championship.csv'], [(39, 1830), (40, 1620)], [('csv/England/2021/cup.csv', (45, 1700)),('csv/England/2021/carabao.csv', (48, 1700))])

In [13]:
elo_ratings_eng_21

              team_name  league  elo_rating  games
40            Liverpool      39     2147.50     49
50      Manchester City      39     2110.49     43
49              Chelsea      39     2010.71     48
47            Tottenham      39     1959.29     45
42              Arsenal      39     1944.24     43
34            Newcastle      39     1897.20     39
52       Crystal Palace      39     1882.12     43
51             Brighton      39     1857.50     43
46            Leicester      39     1849.07     43
65    Nottingham Forest      40     1845.16     54
33    Manchester United      39     1843.21     41
48             West Ham      39     1816.12     43
66          Aston Villa      39     1805.62     40
35          Bournemouth      40     1804.42     47
55            Brentford      39     1802.34     41
36               Fulham      40     1756.96     50
37         Huddersfield      40     1756.54     53
45              Everton      39     1745.71     43
62        Sheffield Utd      40     1744.41     51
39               Wolves      39     1742.74     42
63                Leeds      39     1732.85     41
44              Burnley      39     1713.86     41
41          Southampton      39     1712.82     44
1359              Luton      40     1679.55     49
58             Millwall      40     1674.20     48
70        Middlesbrough      40     1652.34     50
59              Preston      40     1628.74     48
75           Stoke City      40     1615.02     49
76              Swansea      40     1612.65     49
1346           Coventry      40     1607.79     48
67            Blackburn      40     1602.90     46
60            West Brom      40     1599.78     48
56         Bristol City      40     1580.49     47
71              Norwich      39     1580.40     42
64            Hull City      40     1563.67     47
1356          Blackpool      40     1554.22     47
43              Cardiff      40     1550.48     49
69                Derby      40     1543.09     48
38              Watford      39     1541.99     41
72                  QPR      40     1540.40     48
1350       Peterborough      40     1524.62     48
53              Reading      40     1485.86     47
54           Birmingham      40     1476.70     47
747            Barnsley      40     1385.63     47

In [14]:
elo_ratings_eng_21.to_csv('csv/England/2021/ratingElo2021_2022PL.csv', float_format='%.2f')

In [15]:
elo_ratings_eng_22 = calculate_team_elo(file_paths = ['csv/England/2022/PL.csv', 'csv/England/2022/championship.csv'],  league_ratings = [(39, 1830), (40, 1620)], kubok = [('csv/England/2022/cup.csv', (45, 1700)),('csv/England/2022/carabao.csv', (48, 1700))], save_elo = True, previus_data = 'csv/England/2021/ratingElo2021_2022PL.csv')

In [16]:
elo_ratings_eng_22

,team_name,league,elo_rating,games,prev_elos
50,Manchester City,39,2161.08,90,"{1659886200: 2110.49, 1660399200: 2117.8799999..."
40,Liverpool,39,2038.94,91,"{1659785400: 2147.5, 1660590000: 2140.66, 1661..."
42,Arsenal,39,2015.40,83,"{1659726000: 1944.24, 1660399200: 1960.8700000..."
33,Manchester United,39,2000.21,90,"{1659877200: 1843.21, 1660408200: 1818.3700000..."
34,Newcastle,39,1983.30,83,"{1659794400: 1897.2, 1660399200: 1914.85000000..."
66,Aston Villa,39,1943.73,79,"{1659794400: 1805.62, 1660390200: 1783.9299999..."
51,Brighton,39,1942.19,86,"{1659877200: 1857.5, 1660399200: 1882.34, 1661..."
55,Brentford,39,1941.31,80,"{1659877200: 1802.34, 1660408200: 1810.32, 166..."
44,Burnley,40,1909.78,90,"{1659121200: 1713.86, 1659794400: 1741.6399999..."
47,Tottenham,39,1906.73,86,"{1659794400: 1959.29, 1660491000: 1963.48, 166..."
36,Fulham,39,1853.89,93,"{1659785400: 1756.96, 1660399200: 1770.64, 166..."
52,Crystal Palace,39,1829.55,83,"{1659726000: 1882.12, 1660590000: 1848.86, 166..."
49,Chelsea,39,1820.68,88,"{1659803400: 2010.71, 1660491000: 2016.29, 166..."
48,West Ham,39,1802.36,84,"{1659886200: 1816.12, 1660482000: 1801.35, 166..."
62,Sheffield Utd,40,1801.24,102,"{1659380400: 1744.41, 1659794400: 1718.68, 166..."
39,Wolves,39,1788.41,85,"{1659794400: 1742.74, 1660399200: 1727.81, 166..."
65,Nottingham Forest,39,1770.56,98,"{1659794400: 1845.16, 1660482000: 1827.51, 166..."
1359,Luton,40,1768.11,100,"{1659189600: 1679.55, 1659794400: 1665.51, 166..."
45,Everton,39,1759.54,83,"{1659803400: 1745.71, 1660390200: 1734.55, 166..."
46,Leicester,39,1730.39,83,"{1659877200: 1849.07, 1660399200: 1841.09, 166..."
1346,Coventry,40,1708.82,98,"{1659265200: 1607.79, 1660157100: 1614.03, 166..."
35,Bournemouth,39,1702.90,89,"{1659794400: 1804.42, 1660399200: 1826.1100000..."
746,Sunderland,40,1691.01,50,"{1659265200: 1620.0, 1659794400: 1613.76, 1660..."
76,Swansea,40,1688.30,97,"{1659189600: 1612.65, 1659794400: 1618.64, 166..."
70,Middlesbrough,40,1683.30,99,"{1659198600: 1652.34, 1659794400: 1644.08, 166..."
41,Southampton,39,1641.32,87,"{1659794400: 1712.82, 1660399200: 1704.4299999..."
67,Blackburn,40,1636.74,99,"{1659189600: 1602.9, 1659794400: 1614.17, 1660..."
63,Leeds,39,1636.28,83,"{1659794400: 1732.85, 1660399200: 1747.78, 166..."
37,Huddersfield,40,1632.98,101,"{1659121200: 1756.54, 1659725100: 1728.76, 166..."
56,Bristol City,40,1619.76,98,"{1659189600: 1580.49, 1659794400: 1565.19, 166..."
64,Hull City,40,1617.62,94,"{1659189600: 1563.67, 1659794400: 1578.97, 166..."
60,West Brom,40,1610.81,96,"{1659198600: 1599.78, 1659985200: 1608.04, 166..."
58,Millwall,40,1604.66,95,"{1659189600: 1674.2, 1659794400: 1691.34000000..."
38,Watford,40,1565.85,88,"{1659380400: 1541.99, 1659985200: 1567.72, 166..."
75,Stoke City,40,1555.06,96,"{1659189600: 1615.02, 1659794400: 1597.8799999..."
59,Preston,40,1549.04,98,"{1659189600: 1628.74, 1659794400: 1633.88, 166..."
43,Cardiff,40,1541.65,97,"{1659189600: 1550.48, 1659794400: 1566.5, 1660..."
73,Rotherham,40,1540.10,46,"{1659189600: 1620.0, 1660399200: 1614.01, 1660..."
71,Norwich,40,1540.09,91,"{1659189600: 1580.4, 1659785400: 1564.38, 1660..."
54,Birmingham,40,1506.19,96,"{1659189600: 1476.7, 1659725100: 1490.74, 1660..."
53,Reading,40,1498.27,95,"{1659189600: 1485.86, 1659794400: 1474.86, 166..."
61,Wigan,40,1488.38,48,"{1659189600: 1620.0, 1659785400: 1614.86, 1660..."
1356,Blackpool,40,1469.71,95,"{1659189600: 1554.22, 1659794400: 1565.22, 166..."
72,QPR,40,1430.66,94,"{1659189600: 1540.4, 1659794400: 1529.13, 1660..."

In [17]:
elo_ratings_eng_22.to_csv('csv/England/2022/ratingElo2022_2023PL.csv', float_format='%.2f')

In [6]:
elo_ratings_eng_23 = calculate_team_elo(file_paths = ['csv/England/2023/PL.csv', 'csv/England/2023/championship.csv'],  league_ratings = [(39, 1830), (40, 1620)], kubok = [('csv/England/2023/cup.csv', (45, 1700)),('csv/England/2023/carabao.csv', (48, 1700))], save_elo = True, previus_data = 'csv/England/2022/ratingElo2022_2023PL.csv')

In [7]:
elo_ratings_eng_23

,team_name,league,elo_rating,games,prev_elos
50,Manchester City,39,2148.98,99,"{1691780400: 2161.08, 1692471600: 2171.41, 169..."
40,Liverpool,39,2063.07,100,"{1691940600: 2038.94, 1692453600: 2035.66, 169..."
42,Arsenal,39,2056.81,92,"{1691839800: 2015.4, 1692644400: 2017.82000000..."
34,Newcastle,39,2006.33,92,"{1691857800: 1983.3, 1692471600: 1994.89999999..."
47,Tottenham,39,1978.86,95,"{1691931600: 1906.73, 1692462600: 1910.42, 169..."
33,Manchester United,39,1968.27,99,"{1692039600: 2000.21, 1692462600: 2003.06, 169..."
66,Aston Villa,39,1959.19,88,"{1691857800: 1943.73, 1692536400: 1932.13, 169..."
51,Brighton,39,1947.43,95,"{1691848800: 1942.19, 1692453600: 1948.18, 169..."
55,Brentford,39,1895.15,89,"{1691931600: 1941.31, 1692453600: 1937.62, 169..."
49,Chelsea,39,1891.99,97,"{1691940600: 1820.68, 1692545400: 1827.24, 169..."
48,West Ham,39,1879.79,92,"{1691848800: 1802.36, 1692545400: 1802.3899999..."
52,Crystal Palace,39,1860.60,93,"{1691848800: 1829.55, 1692644400: 1853.62, 169..."
46,Leicester,40,1849.35,95,"{1691319600: 1730.39, 1691848800: 1743.66, 169..."
36,Fulham,39,1832.44,103,"{1691848800: 1853.89, 1692453600: 1874.22, 169..."
44,Burnley,39,1794.72,99,"{1691780400: 1909.78, 1693141200: 1899.45, 169..."
65,Nottingham Forest,39,1789.45,107,"{1691839800: 1770.56, 1692384300: 1765.73, 169..."
45,Everton,39,1779.78,92,"{1691848800: 1759.54, 1692536400: 1739.21, 169..."
39,Wolves,39,1779.38,94,"{1692039600: 1788.41, 1692453600: 1782.71, 169..."
57,Ipswich,40,1758.60,12,"{1691337600: 1620.0, 1691848800: 1649.12, 1692..."
1359,Luton,39,1702.84,108,"{1691848800: 1768.11, 1692990000: 1756.1299999..."
1346,Coventry,40,1690.75,109,"{1691319600: 1708.82, 1691839800: 1695.55, 169..."
62,Sheffield Utd,39,1687.51,110,"{1691848800: 1801.24, 1692384300: 1777.17, 169..."
746,Sunderland,40,1684.52,61,"{1691337600: 1691.01, 1691848800: 1661.89, 169..."
35,Bournemouth,39,1682.41,99,"{1691848800: 1702.9, 1692453600: 1702.87000000..."
70,Middlesbrough,40,1682.35,111,"{1691244000: 1683.3, 1691517600: 1653.84, 1691..."
76,Swansea,40,1674.26,109,"{1691244000: 1688.3, 1691848800: 1674.88999999..."
63,Leeds,40,1671.93,94,"{1691328600: 1636.28, 1691848800: 1626.12, 169..."
64,Hull City,40,1661.30,105,"{1691244000: 1617.62, 1691848800: 1598.9099999..."
60,West Brom,40,1632.44,108,"{1691244000: 1610.81, 1691520300: 1597.76, 169..."
41,Southampton,40,1617.93,98,"{1691175600: 1641.32, 1691848800: 1665.77, 169..."
67,Blackburn,40,1611.54,111,"{1691244000: 1636.74, 1691848800: 1649.79, 169..."
71,Norwich,40,1609.58,105,"{1691244000: 1540.09, 1691848800: 1558.8, 1692..."
59,Preston,40,1595.55,109,"{1691244000: 1549.04, 1691848800: 1558.1499999..."
56,Bristol City,40,1594.94,110,"{1691244000: 1619.76, 1691848800: 1610.65, 169..."
43,Cardiff,40,1589.11,110,"{1691328600: 1541.65, 1691848800: 1551.8100000..."
58,Millwall,40,1583.12,106,"{1691244000: 1604.66, 1691848800: 1634.1200000..."
54,Birmingham,40,1566.34,108,"{1691244000: 1506.19, 1691848800: 1519.6000000..."
37,Huddersfield,40,1555.15,113,"{1691244000: 1632.98, 1691517600: 1610.34, 169..."
1357,Plymouth,40,1543.25,12,"{1691244000: 1620.0, 1691848800: 1642.64, 1692..."
38,Watford,40,1531.48,99,"{1691244000: 1565.85, 1691848800: 1581.24, 169..."
75,Stoke City,40,1521.78,110,"{1691244000: 1555.06, 1691520300: 1578.8799999..."
74,Sheffield Wednesday,40,1467.04,11,"{1691175600: 1620.0, 1691848800: 1595.55, 1692..."
73,Rotherham,40,1456.00,58,"{1691244000: 1540.1, 1691848800: 1516.28, 1692..."
72,QPR,40,1396.36,106,"{1691244000: 1430.66, 1691848800: 1415.27, 169..."

In [20]:
elo_ratings_eng_23.to_csv('csv/England/2023/ratingElo2023_2024PL.csv', float_format='%.2f')